# Notes

## Flight paths:
- **Houston, TX** to **Los Angeles, CA** (IAH - LAX)
- **New York City, NY** to **Miami, FL** (JFK - MIA)
- **Portland, WA** to **Chicago, IL** (PDX - ORD)

## Number of Total Routes
- at least 1,000 per route for now (All times in GMC)

    -__Times:__

        - 0000 hours to 0600 hours

        - 0601 hours to 1200 hours

        - 1201 hours to 1800 hours

        - 1801 hours to 2399 hours

    - __Times of the Year:__
    
        - Try to get every month

    - __Times of the Week:__
        - Try to get every day. 
    
## Notes about Data considerations

- see what are typical flight times for your paths. you may be limited here. 

- consistently work with other api to see what you can grab

- grab future flights too!

- do some division on how many flights you can grab from how many time zonestuff


## Features to Scrape
- want aircraft type
- want airline flight info
- want airline flight 
- want aircraft type struct
- want flight struct

1 query will generate 15 results. Ex; If you request to see all flight from airport Alpha to Airport Bravo and the search results come back with 5000 flights. To find the pricing estimate you would do the following math. 5000/15 = 333 * $0.0079 = $2.63 (Class 2)

In [269]:
import sys
from suds import null, WebFault
from suds.client import Client
import logging
import json
import pandas as pd
import datetime
import numpy as np

In [2]:
with open('/Users/ChristopherKuzemka/Documents/GA/dsi_11/projects/capstone/env.json') as f:
    information = json.load(f)

In [3]:
information.keys()

dict_keys(['FA_API_KEY', 'FA_USERNAME', 'x-rapidapi-host', 'x-rapidapi-key'])

In [4]:
username = information.get('FA_USERNAME')
apiKey = information.get('FA_API_KEY')
url = 'http://flightxml.flightaware.com/soap/FlightXML2/wsdl'

In [5]:
logging.basicConfig(level=logging.INFO)
api = Client(url, username=username, password=apiKey)

## Testing playground determining usefulness of API

In [83]:
#Get Aircraft type  - semi-useful
aircraft_type = api.service.AircraftType('B744')
aircraft_type

(AircraftTypeStruct){
   manufacturer = "Boeing"
   type = "747-400"
   description = "quad-jet"
 }

# JFK - MIA

From [here](https://www.flights.com/flights/new-york-jfk-to-miami-mia/): "with 3 differnt airlines operating flights between New York and Miami, there are, on average, 2,197 flights per month.. This equates to about 523 flights per week, and 75 flights per day from JFK to MIA. The three airlines are:
- American Airlines (Flight AA 2572)

- British Airways (Flight BA 1687) 

- Malaysia Airlines (Flight MH 9446).

In [7]:
def make_unix_lists(start_date, end_date, frequency):
    created_range = pd.date_range(start = start_date, end = end_date, freq = frequency) #creates a daterange series
    list_created_range = list(created_range) #converts such range into a list
    unix_floats = [date.to_pydatetime().timestamp() for date in list_created_range] #transforms the daterange list into unix epoch tiimestamps represented as floats
    unix_ints = [int(i) for i in unix_floats] #makes the above list as a list of integers
    #return unix_ints

    #We are doing the below to accomodate a for loop format into another function
    start_ints = unix_ints[:-1] #creates a list of all the start dates without last element
    end_ints = unix_ints[1:] #creates a list of all the end dates without first element 

    return start_ints, end_ints

In [8]:
start, end = make_unix_lists('5/11/2020', '5/24/2020', '8H')

In [9]:
start

[1589169600,
 1589198400,
 1589227200,
 1589256000,
 1589284800,
 1589313600,
 1589342400,
 1589371200,
 1589400000,
 1589428800,
 1589457600,
 1589486400,
 1589515200,
 1589544000,
 1589572800,
 1589601600,
 1589630400,
 1589659200,
 1589688000,
 1589716800,
 1589745600,
 1589774400,
 1589803200,
 1589832000,
 1589860800,
 1589889600,
 1589918400,
 1589947200,
 1589976000,
 1590004800,
 1590033600,
 1590062400,
 1590091200,
 1590120000,
 1590148800,
 1590177600,
 1590206400,
 1590235200,
 1590264000]

In [10]:
jfk_mia_info = {'AA':'2572',
                'BA':'1687',
                'MA':'9446'}

In [380]:
def get_flights_df(start_input, end_input, frequency_input, origin_input, destination_input, flight_info_input, howMany_input):
    ## Empty lists for storage reasons
    schedules = [] #instantiates the schedules column
    modified_schedules = [] #instantiates the modified schedules list
    flight_info_list = [] #instantiates the flight info list


    ## Creates the sketelton dataframe for schedules_df
    schedules_cols = ['ident', 'actual_ident', 'departuretime', 'arrival_time', 'origin', 'destination', 'aircrafttype', 'meal_service', 'seats_cabin_first', 'seats_cabin_business', 'seats_cabin_coach'] #column names for the scheduling df
    schedules_df = pd.DataFrame(columns = column_names) #creates the empty schedules dataframe skeleton

    ## Creates the skeleton dataframe for the flight_info_df
    flight_info_cols = ['faFlightID', 'ident', 'aircrafttype', 'filed_ete', 'filed_time', 'filed_departuretime', 'filed_airspeed_mach', 'filed_altitude', 'actualdeparturetime', 'estimatedarrivaltime', 'actualarrivaltime', 'diverted', 'origin', 'originName', 'originCity', 'destinationName', 'destinationCity']
    flight_info_df = pd.DataFrame(columns = names) #creates the empty flight_info dataframe skeleton

    ## Unix Epoch Time Function
    start_list, end_list = make_unix_lists(start_input, end_input, frequency_input) #utilizes the unix epoch creation list function

    ## Magic happens here
    for airline_code in flight_info_input: #for the keys in the flight info input 
        for j in range(len(start_list)): #for the entirity of the unix epoch time list
            airline_flight_schedules = api.service.AirlineFlightSchedules(startDate = start_list[j], endDate = end_list[j], origin = origin_input, destination = destination_input, airline = airline_code, flightno = flight_info_input.get(airline_code), howMany = howMany_input) #gets the flight schedules information

            #Credit for the dict below
            #https://stackoverflow.com/questions/17581731/parsing-suds-soap-complex-data-type-into-python-dict
            airline_flight_dict = Client.dict(airline_flight_schedules) #converts the above variable to a dictionary
            schedules.append(airline_flight_dict) #appends results to the instantiated output list
    
    ## Cleans the dirty collection for schedules
    for k in range(len(schedules)):
        try: #try the below...we'll get some errors for empty stuff
            modified_schedules.append(schedules[k]['data']) #filters the output list to only show meaningful information where actual flights were flows in a timeframes studied
        except: #when an error occurs...
            continue #..move on and ignore any issues with with non existent flight data

    ## Creates a dataframe out of the modified_schedules list <-- FIX THIS LATER
    for l in range(len(modified_schedules)):
        for m in range(len(modified_schedules[l])):
            sched_df = pd.DataFrame(modified_schedules[l][m]).T #uses a transposed version to cleanly extract the data
            sched_df.rename(columns = {0:schedules_cols[0], #renames the columns to match the end_df so concatenation is simple
                        1: schedules_cols[1],
                        2: schedules_cols[2],
                        3: schedules_cols[3],
                        4: schedules_cols[4],
                        5: schedules_cols[5],
                        6: schedules_cols[6],
                        7: schedules_cols[7],
                        8: schedules_cols[8],
                        9: schedules_cols[9],
                        10: schedules_cols[10]}, inplace = True) #very inefficient way to rename my columns
            schedules_df = pd.concat([schedules_df, sched_df]) #overwrites the end_df to create a larger dataframe
    
    ## Cleans the schedules_df
    schedules_df.drop(index = 0, inplace = True) #drops the 0 index rows in the repetative 0,1 pattern of the dataframe
    schedules_df.reset_index(inplace = True) #resets the index by creating a new index row
    schedules_df.drop(columns = 'index', inplace = True) #drops the extra 'index row
    schedules_df.drop_duplicates(subset = ['arrival_time'], inplace = True) #drops the duplicate time epochs so that we don't have impossible situations of the same flight coming into the same place at the same exact time


    ## Gets the flight information list using the schedules_df idents
    for identifier in schedules_df['ident']: #calls to each identifier collected
        for offset_number in range(15): #set in place to not miss any flights in 2 week period 
            try: #we're gonna get some errors here for empty flights I think
                flight_info_ex = api.service.FlightInfoEx(ident = identifier, howMany = 15, offset = offset_number) #retrieves the information pertaining to the identifier
                flight_info = Client.dict(flight_info_ex) #converts the suds object into a workable dictionary
                flight_info_list.append(flight_info_ex) #appends whatever the above is into a list
            except: #when an error occurs...
                continue #...just move on

    ## Creates a dataframe out of the flight_info_df
    ## Credit to Alex Speicher from Hofstra University for showing an efficient way to do this
    for query in flight_info_list: #calls to every query in the info list made
        for flight in query['flights']: #for every flight in the dictionary
            flight_dict = {} #empty dicitonary pertaining to the columns in each flight 
            for column in flight_info_cols: #for every column name in the flight_info_cols
                flight_dict[column] = flight[column] #appends the column names to the dictionary
            info_df = pd.DataFrame([flight_dict], columns=flight_dict.keys()) #makes a dataframe using the dictionary columns 
            flight_info_df = pd.concat([flight_info_df, info_df], axis =0).reset_index(drop = True) #resets the index and fixes all those issues

    #Cleans the flight_info_df
    flight_info_df.drop_duplicates(subset = ['faFlightID'], inplace = True) #eliminates the overlapping most unique identifiers in our
    flight_info_df = flight_info_df[flight_info_df['actualarrivaltime'] != 0] #removes the currently active flights from the list as there is no data on them and overwrites the dataframe variable
    flight_info_df.reset_index(inplace = True) #resets the index 

    return schedules_df, flight_info_df #returns two dataframes

In [381]:
jfk_mia_flight_scheds, jfk_mia_flight_info = get_flights_df('5/15/2020', '5/25/2020', '8H', 'JFK', 'MIA', jfk_mia_info, 15)

ERROR:suds.client:<suds.sax.document.Document object at 0x12099a110>
ERROR:suds.client:<suds.sax.document.Document object at 0x117c7c710>
ERROR:suds.client:<suds.sax.document.Document object at 0x1202f7510>
ERROR:suds.client:<suds.sax.document.Document object at 0x120b27150>
ERROR:suds.client:<suds.sax.document.Document object at 0x122c703d0>
ERROR:suds.client:<suds.sax.document.Document object at 0x1070bdd90>
ERROR:suds.client:<suds.sax.document.Document object at 0x1221c2750>
ERROR:suds.client:<suds.sax.document.Document object at 0x122291710>
ERROR:suds.client:<suds.sax.document.Document object at 0x12212f810>
ERROR:suds.client:<suds.sax.document.Document object at 0x124108650>
ERROR:suds.client:<suds.sax.document.Document object at 0x125947610>
ERROR:suds.client:<suds.sax.document.Document object at 0x12626c190>
ERROR:suds.client:<suds.sax.document.Document object at 0x125267650>
ERROR:suds.client:<suds.sax.document.Document object at 0x12533cad0>
ERROR:suds.client:<suds.sax.document.Document object at 0x124f4a1d0>
ERROR:suds.client:<suds.sax.document.Document object at 0x126189a90>
ERROR:suds.client:<suds.sax.document.Document object at 0x125de14d0>
ERROR:suds.client:<suds.sax.document.Document object at 0x1257b9650>
ERROR:suds.client:<suds.sax.document.Document object at 0x125dcff50>
ERROR:suds.client:<suds.sax.document.Document object at 0x12577a7d0>

In [514]:
jfk_mia_flight_scheds

,ident,actual_ident,departuretime,arrival_time,origin,destination,aircrafttype,meal_service,seats_cabin_first,seats_cabin_business,seats_cabin_coach
0,MAS9446,AAL2572,1589567400,1589579280,KJFK,KMIA,B738,Business: Meal / Economy: Meal,0,16,144
1,GLO6391,AAL2572,1589569200,1589581200,KJFK,KMIA,B738,Business: No meal / Economy: No meal,0,16,144
3,MAS9446,AAL2572,1589653800,1589665680,KJFK,KMIA,B738,Business: Meal / Economy: Meal,0,16,144
4,GLO6391,AAL2572,1589655600,1589667600,KJFK,KMIA,B738,Business: No meal / Economy: No meal,0,16,144
6,MAS9446,AAL2572,1589740200,1589752080,KJFK,KMIA,B738,Business: Meal / Economy: Meal,0,16,144
7,GLO6391,AAL2572,1589742000,1589754000,KJFK,KMIA,B738,Business: No meal / Economy: No meal,0,16,144
9,MAS9446,AAL2572,1589826600,1589838480,KJFK,KMIA,B738,Business: Meal / Economy: Meal,0,16,144
10,GLO6391,AAL2572,1589828400,1589840400,KJFK,KMIA,B738,Business: No meal / Economy: No meal,0,16,144
12,MAS9446,AAL2572,1589913000,1589924880,KJFK,KMIA,B738,Business: Meal / Economy: Meal,0,16,144
13,AAL2572,None,1589914800,1589926800,KJFK,KMIA,B738,Business: No meal / Economy: No meal,0,16,144
14,MAS9446,AAL2572,1589999400,1590011280,KJFK,KMIA,B738,Business: Meal / Economy: Meal,0,16,144
15,GLO6391,AAL2572,1590001200,1590013200,KJFK,KMIA,B738,Business: No meal / Economy: No meal,0,16,144
17,MAS9446,AAL2572,1590085800,1590097680,KJFK,KMIA,B738,Business: Meal / Economy: Meal,0,16,144
18,GLO6391,AAL2572,1590087600,1590099600,KJFK,KMIA,B738,Business: No meal / Economy: No meal,0,16,144
20,MAS9446,AAL2572,1590172200,1590184080,KJFK,KMIA,B738,Business: Meal / Economy: Meal,0,16,144
21,GLO6391,AAL2572,1590174000,1590186000,KJFK,KMIA,B738,Business: No meal / Economy: No meal,0,16,144
23,MAS9446,AAL2572,1590258600,1590270480,KJFK,KMIA,B738,Business: Meal / Economy: Meal,0,16,144
24,GLO6391,AAL2572,1590260400,1590272400,KJFK,KMIA,B738,Business: No meal / Economy: No meal,0,16,144
26,MAS9446,AAL2572,1590345000,1590356880,KJFK,KMIA,B738,Business: Meal / Economy: Meal,0,16,144
27,GLO6391,AAL2572,1590346800,1590358800,KJFK,KMIA,B738,Business: No meal / Economy: No meal,0,16,144

In [366]:
jfk_mia_flight_info.drop_duplicates(subset = ['faFlightID'], inplace = True)

In [369]:
mask = jfk_mia_flight_info['actualarrivaltime'] != 0
jfk_mia_flight_info[mask]

,faFlightID,ident,aircrafttype,filed_ete,filed_time,filed_departuretime,filed_airspeed_mach,filed_altitude,actualdeparturetime,estimatedarrivaltime,actualarrivaltime,diverted,origin,originName,originCity,destinationName,destinationCity
3,AAL2572-1590209159-airline-0537,AAL2572,B738,03:06:00,1590431725,1590432000,None,360,1590431773,1590440887,1590440887,None,KJFK,John F Kennedy Intl,"New York, NY",Miami Intl,"Miami, FL"
4,AAL2572-1590122721-airline-0420,AAL2572,B738,02:40:00,1590345342,1590345600,None,380,1590345390,1590354360,1590354360,None,KJFK,John F Kennedy Intl,"New York, NY",Miami Intl,"Miami, FL"
5,AAL2572-1590036344-airline-0175,AAL2572,B738,02:55:00,1590259235,1590259200,None,380,1590259283,1590267480,1590267480,None,KJFK,John F Kennedy Intl,"New York, NY",Miami Intl,"Miami, FL"
6,AAL2572-1589949964-airline-0120,AAL2572,B738,02:40:00,1590172660,1590172800,None,380,1590172708,1590181620,1590181620,None,KJFK,John F Kennedy Intl,"New York, NY",Miami Intl,"Miami, FL"
7,AAL2572-1589863519-airline-0459,AAL2572,B738,02:40:00,1590086190,1590086400,None,380,1590086238,1590095340,1590095340,None,KJFK,John F Kennedy Intl,"New York, NY",Miami Intl,"Miami, FL"
8,AAL2572-1589777123-airline-0485,AAL2572,B738,02:38:00,1590000375,1590000000,None,380,1590000407,1590009900,1590009900,None,KJFK,John F Kennedy Intl,"New York, NY",Miami Intl,"Miami, FL"
9,AAL2572-1589690730-airline-0195,AAL2572,B738,02:46:00,1589914315,1589913600,None,380,1589914363,1589924160,1589924160,None,KJFK,John F Kennedy Intl,"New York, NY",Miami Intl,"Miami, FL"
10,AAL2572-1589604351-airline-0000,AAL2572,B738,02:41:00,1589827142,1589827200,None,320,1589827191,1589837040,1589837040,None,KJFK,John F Kennedy Intl,"New York, NY",Miami Intl,"Miami, FL"
11,AAL2572-1589517913-airline-0098,AAL2572,B738,02:40:00,1589741446,1589740800,None,380,1589741494,1589750762,1589750762,None,KJFK,John F Kennedy Intl,"New York, NY",Miami Intl,"Miami, FL"
12,AAL2572-1589431536-airline-0436,AAL2572,B738,02:40:00,1589654365,1589654400,None,300,1589654430,1589663460,1589663460,None,KJFK,John F Kennedy Intl,"New York, NY",Miami Intl,"Miami, FL"
13,AAL2572-1589345159-airline-0102,AAL2572,B738,02:56:00,1589567883,1589568000,None,380,1589567931,1589576820,1589576820,None,KJFK,John F Kennedy Intl,"New York, NY",Miami Intl,"Miami, FL"

In [378]:
mask = jfk_mia_flight_scheds.duplicated(subset = ['arrival_time']) == True
jfk_mia_flight_scheds[mask]

,ident,actual_ident,departuretime,arrival_time,origin,destination,aircrafttype,meal_service,seats_cabin_first,seats_cabin_business,seats_cabin_coach
2,AAL2572,None,1589569200,1589581200,KJFK,KMIA,B738,Business: No meal / Economy: No meal,0,16,144
5,AAL2572,None,1589655600,1589667600,KJFK,KMIA,B738,Business: No meal / Economy: No meal,0,16,144
8,AAL2572,None,1589742000,1589754000,KJFK,KMIA,B738,Business: No meal / Economy: No meal,0,16,144
11,AAL2572,None,1589828400,1589840400,KJFK,KMIA,B738,Business: No meal / Economy: No meal,0,16,144
16,AAL2572,None,1590001200,1590013200,KJFK,KMIA,B738,Business: No meal / Economy: No meal,0,16,144
19,AAL2572,None,1590087600,1590099600,KJFK,KMIA,B738,Business: No meal / Economy: No meal,0,16,144
22,AAL2572,None,1590174000,1590186000,KJFK,KMIA,B738,Business: No meal / Economy: No meal,0,16,144
25,AAL2572,None,1590260400,1590272400,KJFK,KMIA,B738,Business: No meal / Economy: No meal,0,16,144
28,AAL2572,None,1590346800,1590358800,KJFK,KMIA,B738,Business: No meal / Economy: No meal,0,16,144

In [417]:
jfk_mia_flight_info

,faFlightID,ident,aircrafttype,filed_ete,filed_time,filed_departuretime,filed_airspeed_mach,filed_altitude,actualdeparturetime,estimatedarrivaltime,actualarrivaltime,diverted,origin,originName,originCity,destinationName,destinationCity
3,AAL2572-1590209159-airline-0537,AAL2572,B738,03:06:00,1590431725,1590432000,None,360,1590431773,1590440887,1590440887,None,KJFK,John F Kennedy Intl,"New York, NY",Miami Intl,"Miami, FL"
4,AAL2572-1590122721-airline-0420,AAL2572,B738,02:40:00,1590345342,1590345600,None,380,1590345390,1590354360,1590354360,None,KJFK,John F Kennedy Intl,"New York, NY",Miami Intl,"Miami, FL"
5,AAL2572-1590036344-airline-0175,AAL2572,B738,02:55:00,1590259235,1590259200,None,380,1590259283,1590267480,1590267480,None,KJFK,John F Kennedy Intl,"New York, NY",Miami Intl,"Miami, FL"
6,AAL2572-1589949964-airline-0120,AAL2572,B738,02:40:00,1590172660,1590172800,None,380,1590172708,1590181620,1590181620,None,KJFK,John F Kennedy Intl,"New York, NY",Miami Intl,"Miami, FL"
7,AAL2572-1589863519-airline-0459,AAL2572,B738,02:40:00,1590086190,1590086400,None,380,1590086238,1590095340,1590095340,None,KJFK,John F Kennedy Intl,"New York, NY",Miami Intl,"Miami, FL"
8,AAL2572-1589777123-airline-0485,AAL2572,B738,02:38:00,1590000375,1590000000,None,380,1590000407,1590009900,1590009900,None,KJFK,John F Kennedy Intl,"New York, NY",Miami Intl,"Miami, FL"
9,AAL2572-1589690730-airline-0195,AAL2572,B738,02:46:00,1589914315,1589913600,None,380,1589914363,1589924160,1589924160,None,KJFK,John F Kennedy Intl,"New York, NY",Miami Intl,"Miami, FL"
10,AAL2572-1589604351-airline-0000,AAL2572,B738,02:41:00,1589827142,1589827200,None,320,1589827191,1589837040,1589837040,None,KJFK,John F Kennedy Intl,"New York, NY",Miami Intl,"Miami, FL"
11,AAL2572-1589517913-airline-0098,AAL2572,B738,02:40:00,1589741446,1589740800,None,380,1589741494,1589750762,1589750762,None,KJFK,John F Kennedy Intl,"New York, NY",Miami Intl,"Miami, FL"
12,AAL2572-1589431536-airline-0436,AAL2572,B738,02:40:00,1589654365,1589654400,None,300,1589654430,1589663460,1589663460,None,KJFK,John F Kennedy Intl,"New York, NY",Miami Intl,"Miami, FL"
13,AAL2572-1589345159-airline-0102,AAL2572,B738,02:56:00,1589567883,1589568000,None,380,1589567931,1589576820,1589576820,None,KJFK,John F Kennedy Intl,"New York, NY",Miami Intl,"Miami, FL"

In [432]:
jfk_mia_flight_info.loc[3, 'faFlightID']

AAL2572-1590209159-airline-0537

In [385]:
#this gets me a list of flight information like speed and altitude I believe this will be enough must convert this to a dataframe
get_historical_track = api.service.GetHistoricalTrack(jfk_mia_flight_info.loc[3, 'faFlightID'])

In [419]:
get_historical_track

1590438958
         latitude = 28.31534
         longitude = -80.57579
         groundspeed = 427
         altitude = 340
         altitudeStatus = None
         updateType = "TA"
         altitudeChange = "-"
      },
      (TrackStruct){
         timestamp = 1590438988
         latitude = 28.25789
         longitude = -80.56211
         groundspeed = 426
         altitude = 340
         altitudeStatus = None
         updateType = "TA"
         altitudeChange = "-"
      },
      (TrackStruct){
         timestamp = 1590439018
         latitude = 28.20181
         longitude = -80.54885
         groundspeed = 426
         altitude = 340
         altitudeStatus = None
         updateType = "TA"
         altitudeChange = "-"
      },
      (TrackStruct){
         timestamp = 1590439044
         latitude = 28.1493
         longitude = -80.53603
         groundspeed = 427
         altitude = 340
         altitudeStatus = None
         updateType = "TA"
         altitudeChange = "-"
      },
      (TrackStruct){
         timestamp = 1590439083
         latitude = 28.07733
         longitude = -80.50426
         groundspeed = 428
         altitude = 340
         altitudeStatus = None
         updateType = "TA"
         altitudeChange = "-"
      },
      (TrackStruct){
         timestamp = 1590439105
         latitude = 28.03725
         longitude = -80.48531
         groundspeed = 429
         altitude = 340
         altitudeStatus = None
         updateType = "TA"
         altitudeChange = "-"
      },
      (TrackStruct){
         timestamp = 1590439124
         latitude = 28.0041
         longitude = -80.46904
         groundspeed = 428
         altitude = 340
         altitudeStatus = None
         updateType = "TA"
         altitudeChange = "-"
      },
      (TrackStruct){
         timestamp = 1590439141
         latitude = 27.97273
         longitude = -80.46004
         groundspeed = 426
         altitude = 340
         altitudeStatus = None
         updateType = "TA"
         altitudeChange = "-"
      },
      (TrackStruct){
         timestamp = 1590439174
         latitude = 27.90903
         longitude = -80.44827
         groundspeed = 425
         altitude = 340
         altitudeStatus = None
         updateType = "TA"
         altitudeChange = "-"
      },
      (TrackStruct){
         timestamp = 1590439199
         latitude = 27.8584
         longitude = -80.43212
         groundspeed = 428
         altitude = 340
         altitudeStatus = None
         updateType = "TA"
         altitudeChange = "-"
      },
      (TrackStruct){
         timestamp = 1590439235
         latitude = 27.79737
         longitude = -80.39557
         groundspeed = 431
         altitude = 340
         altitudeStatus = None
         updateType = "TA"
         altitudeChange = "-"
      },
      (TrackStruct){
         timestamp = 1590439265
         latitude = 27.74345
         longitude = -80.36235
         groundspeed = 431
         altitude = 339
         altitudeStatus = None
         updateType = "TA"
         altitudeChange = "D"
      },
      (TrackStruct){
         timestamp = 1590439282
         latitude = 27.71297
         longitude = -80.34392
         groundspeed = 428
         altitude = 336
         altitudeStatus = None
         updateType = "TA"
         altitudeChange = "D"
      },
      (TrackStruct){
         timestamp = 1590439298
         latitude = 27.68564
         longitude = -80.33094
         groundspeed = 427
         altitude = 334
         altitudeStatus = None
         updateType = "TA"
         altitudeChange = "D"
      },
      (TrackStruct){
         timestamp = 1590439315
         latitude = 27.65147
         longitude = -80.31951
         groundspeed = 428
         altitude = 331
         altitudeStatus = None
         updateType = "TA"
         altitudeChange = "D"
      },
      (TrackStruct){
         timestamp = 1590439345
         latitude = 27.59221
         longitude = -80.30534
         groundspeed = 432
         altitude = 326
         altitudeStatus = None
         updateType = "TA"
         altitudeChange = "D"
      },
      (TrackStruct){
         timestamp = 1590439375
         latitude = 27.5356
         longitude = -80.29152
         groundspeed = 435
         altitude = 321
         altitudeStatus = None
         updateType = "TA"
         altitudeChange = "D"
      },
      (TrackStruct){
         timestamp = 1590439405
         latitude = 27.47672
         longitude = -80.27731
         groundspeed = 438
         altitude = 316
         altitudeStatus = None
         updateType = "TA"
         altitudeChange = "D"
      },
      (TrackStruct){
         timestamp = 1590439435
         latitude = 27.41494
         longitude = -80.26247
         groundspeed = 437
         altitude = 308
         altitudeStatus = None
         updateType = "TA"
         altitudeChange = "D"
      },
      (TrackStruct){
         timestamp = 1590439465
         latitude = 27.35801
         longitude = -80.24874
         groundspeed = 444
         altitude = 304
         altitudeStatus = None
         updateType = "TA"
         altitudeChange = "D"
      },
      (TrackStruct){
         timestamp = 1590439495
         latitude = 27.29679
         longitude = -80.234
         groundspeed = 444
         altitude = 298
         altitudeStatus = None
         updateType = "TA"
         altitudeChange = "D"
      },
      (TrackStruct){
         timestamp = 1590439525
         latitude = 27.23599
         longitude = -80.21953
         groundspeed = 433
         altitude = 287
         altitudeStatus = None
         updateType = "TA"
         altitudeChange = "D"
      },
      (TrackStruct){
         timestamp = 1590439555
         latitude = 27.17789
         longitude = -80.20558
         groundspeed = 428
         altitude = 276
         altitudeStatus = None
         updateType = "TA"
         altitudeChange = "D"
      },
      (TrackStruct){
         timestamp = 1590439585
         latitude = 27.11906
         longitude = -80.19139
         groundspeed = 422
         altitude = 264
         altitudeStatus = None
         updateType = "TA"
         altitudeChange = "D"
      },
      (TrackStruct){
         timestamp = 1590439603
         latitude = 27.08647
         longitude = -80.18382
         groundspeed = 418
         altitude = 257
         altitudeStatus = None
         updateType = "TA"
         altitudeChange = "D"
      },
      (TrackStruct){
         timestamp = 1590439622
         latitude = 27.05011
         longitude = -80.18139
         groundspeed = 415
         altitude = 250
         altitudeStatus = None
         updateType = "TA"
         altitudeChange = "D"
      },
      (TrackStruct){
         timestamp = 1590439652
         latitude = 26.99308
         longitude = -80.18203
         groundspeed = 412
         altitude = 238
         altitudeStatus = None
         updateType = "TA"
         altitudeChange = "D"
      },
      (TrackStruct){
         timestamp = 1590439675
         latitude = 26.9474
         longitude = -80.18491
         groundspeed = 407
         altitude = 230
         altitudeStatus = None
         updateType = "TA"
         altitudeChange = "D"
      },
      (TrackStruct){
         timestamp = 1590439693
         latitude = 26.91338
         longitude = -80.18694
         groundspeed = 402
         altitude = 226
         altitudeStatus = None
         updateType = "TA"
         altitudeChange = "D"
      },
      (TrackStruct){
         timestamp = 1590439711
         latitude = 26.88229
         longitude = -80.18197
         groundspeed = 406
         altitude = 217
         altitudeStatus = None
         updateType = "TA"
         altitudeChange = "D"
      },
      (TrackStruct){
         timestamp = 1590439754
         latitude = 26.80128
         longitude = -80.1633
         groundspeed = 395
         altitude = 202
         altitudeStatus = None
         updateType = "TA"
         altitudeChange = "D"
      },
      (TrackStruct){
         timestamp = 1590439784
         latitude = 26.75092
         longitude = -80.1515
         groundspeed = 386
         altitude = 190
         altitudeStatus = None
         updateType = "TA"
         altitudeChange = "D"
      },
      (TrackStruct){
         timestamp = 1590439823
         latitude = 26.68328
         longitude = -80.12995
         groundspeed = 377
         altitude = 172
         altitudeStatus = None
         updateType = "TA"
         altitudeChange = "D"
      },
      (TrackStruct){
         timestamp = 1590439846
         latitude = 26.64483
         longitude = -80.11864
         groundspeed = 372
         altitude = 162
         altitudeStatus = None
         updateType = "TA"
         altitudeChange = "D"
      },
      (TrackStruct){
         timestamp = 1590439862
         latitude = 26.61727
         longitude = -80.11843
         groundspeed = 363
         altitude = 155
         altitudeStatus = None
         updateType = "TA"
         altitudeChange = "D"
      },
      (TrackStruct){
         timestamp = 1590439879
         latitude = 26.59157
         longitude = -80.13084
         groundspeed = 355
         altitude = 149
         altitudeStatus = None
         updateType = "TA"
         altitudeChange = "D"
      },
      (TrackStruct){
         timestamp = 1590439924
         latitude = 26.54045
         longitude = -80.18574
         groundspeed = 333
         altitude = 138
         altitudeStatus = None
         updateType = "TA"
         altitudeChange = "D"
      },
      (TrackStruct){
         timestamp = 1590439954
         latitude = 26.50829
         longitude = -80.22201
         groundspeed = 309
         altitude = 135
         altitudeStatus = None
         updateType = "TA"
         altitudeChange = "D"
      },
      (TrackStruct){
         timestamp = 1590439984
         latitude = 26.47925
         longitude = -80.25456
         groundspeed = 300
         altitude = 129
         altitudeStatus = None
         updateType = "TA"
         altitudeChange = "D"
      },
      (TrackStruct){
         timestamp = 1590440014
         latitude = 26.44885
         longitude = -80.28881
         groundspeed = 296
         altitude = 120
         altitudeStatus = None
         updateType = "TA"
         altitudeChange = "D"
      },
      (TrackStruct){
         timestamp = 1590440044
         latitude = 26.4217
         longitude = -80.31957
         groundspeed = 289
         altitude = 112
         altitudeStatus = None
         updateType = "TA"
         altitudeChange = "D"
      },
      (TrackStruct){
         timestamp = 1590440074
         latitude = 26.39396
         longitude = -80.35094
         groundspeed = 286
         altitude = 105
         altitudeStatus = None
         updateType = "TA"
         altitudeChange = "D"
      },
      (TrackStruct){
         timestamp = 1590440092
         latitude = 26.37594
         longitude = -80.37117
         groundspeed = 286
         altitude = 100
         altitudeStatus = None
         updateType = "TA"
         altitudeChange = "D"
      },
      (TrackStruct){
         timestamp = 1590440122
         latitude = 26.34924
         longitude = -80.40101
         groundspeed = 283
         altitude = 93
         altitudeStatus = None
         updateType = "TA"
         altitudeChange = "D"
      },
      (TrackStruct){
         timestamp = 1590440140
         latitude = 26.32892
         longitude = -80.41718
         groundspeed = 281
         altitude = 88
         altitudeStatus = None
         updateType = "TA"
         altitudeChange = "D"
      },
      (TrackStruct){
         timestamp = 1590440167
         latitude = 26.29834
         longitude = -80.43267
         groundspeed = 281
         altitude = 82
         altitudeStatus = None
         updateType = "TA"
         altitudeChange = "D"
      },
      (TrackStruct){
         timestamp = 1590440197
         latitude = 26.26282
         longitude = -80.4504
         groundspeed = 270
         altitude = 81
         altitudeStatus = None
         updateType = "TA"
         altitudeChange = "D"
      },
      (TrackStruct){
         timestamp = 1590440227
         latitude = 26.22913
         longitude = -80.46698
         groundspeed = 266
         altitude = 81
         altitudeStatus = None
         updateType = "TA"
         altitudeChange = "C"
      },
      (TrackStruct){
         timestamp = 1590440243
         latitude = 26.21021
         longitude = -80.47623
         groundspeed = 266
         altitude = 81
         altitudeStatus = None
         updateType = "TA"
         altitudeChange = "-"
      },
      (TrackStruct){
         timestamp = 1590440273
         latitude = 26.17744
         longitude = -80.49218
         groundspeed = 266
         altitude = 81
         altitudeStatus = None
         updateType = "TA"
         altitudeChange = "-"
      },
      (TrackStruct){
         timestamp = 1590440303
         latitude = 26.14295
         longitude = -80.50845
         groundspeed = 265
         altitude = 76
         altitudeStatus = None
         updateType = "TA"
         altitudeChange = "D"
      },
      (TrackStruct){
         timestamp = 1590440320
         latitude = 26.12353
         longitude = -80.51199
         groundspeed = 267
         altitude = 73
         altitudeStatus = None
         updateType = "TA"
         altitudeChange = "D"
      },
      (TrackStruct){
         timestamp = 1590440340
         latitude = 26.09816
         longitude = -80.51257
         groundspeed = 258
         altitude = 70
         altitudeStatus = None
         updateType = "TA"
         altitudeChange = "D"
      },
      (TrackStruct){
         timestamp = 1590440370
         latitude = 26.0636
         longitude = -80.51445
         groundspeed = 253
         altitude = 65
         altitudeStatus = None
         updateType = "TA"
         altitudeChange = "D"
      },
      (TrackStruct){
         timestamp = 1590440398
         latitude = 26.03127
         longitude = -80.51774
         groundspeed = 245
         altitude = 61
         altitudeStatus = None
         updateType = "TA"
         altitudeChange = "D"
      },
      (TrackStruct){
         timestamp = 1590440428
         latitude = 25.99722
         longitude = -80.52113
         groundspeed = 228
         altitude = 58
         altitudeStatus = None
         updateType = "TA"
         altitudeChange = "D"
      },
      (TrackStruct){
         timestamp = 1590440458
         latitude = 25.96738
         longitude = -80.52346
         groundspeed = 213
         altitude = 52
         altitudeStatus = None
         updateType = "TA"
         altitudeChange = "D"
      },
      (TrackStruct){
         timestamp = 1590440488
         latitude = 25.93844
         longitude = -80.52493
         groundspeed = 218
         altitude = 43
         altitudeStatus = None
         updateType = "TA"
         altitudeChange = "D"
      },
      (TrackStruct){
         timestamp = 1590440510
         latitude = 25.91475
         longitude = -80.52577
         groundspeed = 214
         altitude = 37
         altitudeStatus = None
         updateType = "TA"
         altitudeChange = "D"
      },
      (TrackStruct){
         timestamp = 1590440530
         latitude = 25.89664
         longitude = -80.52049
         groundspeed = 212
         altitude = 34
         altitudeStatus = None
         updateType = "TA"
         altitudeChange = "D"
      },
      (TrackStruct){
         timestamp = 1590440560
         latitude = 25.86896
         longitude = -80.51191
         groundspeed = 203
         altitude = 28
         altitudeStatus = None
         updateType = "TA"
         altitudeChange = "D"
      },
      (TrackStruct){
         timestamp = 1590440590
         latitude = 25.84231
         longitude = -80.50353
         groundspeed = 200
         altitude = 21
         altitudeStatus = None
         updateType = "TA"
         altitudeChange = "D"
      },
      (TrackStruct){
         timestamp = 1590440609
         latitude = 25.8251
         longitude = -80.49728
         groundspeed = 197
         altitude = 21
         altitudeStatus = None
         updateType = "TA"
         altitudeChange = "D"
      },
      (TrackStruct){
         timestamp = 1590440626
         latitude = 25.8159
         longitude = -80.48442
         groundspeed = 197
         altitude = 19
         altitudeStatus = None
         updateType = "TA"
         altitudeChange = "D"
      },
      (TrackStruct){
         timestamp = 1590440644
         latitude = 25.81018
         longitude = -80.46702
         groundspeed = 200
         altitude = 19
         altitudeStatus = None
         updateType = "TA"
         altitudeChange = "D"
      },
      (TrackStruct){
         timestamp = 1590440674
         latitude = 25.80088
         longitude = -80.43754
         groundspeed = 189
         altitude = 16
         altitudeStatus = None
         updateType = "TA"
         altitudeChange = "D"
      },
      (TrackStruct){
         timestamp = 1590440693
         latitude = 25.79649
         longitude = -80.42175
         groundspeed = 177
         altitude = 16
         altitudeStatus = None
         updateType = "TA"
         altitudeChange = "D"
      },
      (TrackStruct){
         timestamp = 1590440720
         latitude = 25.79663
         longitude = -80.40044
         groundspeed = 152
         altitude = 16
         altitudeStatus = None
         updateType = "TA"
         altitudeChange = "C"
      },
      (TrackStruct){
         timestamp = 1590440743
         latitude = 25.79736
         longitude = -80.38152
         groundspeed = 152
         altitude = 15
         altitudeStatus = None
         updateType = "TA"
         altitudeChange = "D"
      },
      (TrackStruct){
         timestamp = 1590440759
         latitude = 25.7979
         longitude = -80.36991
         groundspeed = 146
         altitude = 13
         altitudeStatus = None
         updateType = "TA"
         altitudeChange = "D"
      },
      (TrackStruct){
         timestamp = 1590440775
         latitude = 25.79837
         longitude = -80.3581
         groundspeed = 137
         altitude = 11
         altitudeStatus = None
         updateType = "TA"
         altitudeChange = "D"
      },
      (TrackStruct){
         timestamp = 1590440791
         latitude = 25.79887
         longitude = -80.34627
         groundspeed = 138
         altitude = 9
         altitudeStatus = None
         updateType = "TA"
         altitudeChange = "D"
      },
      (TrackStruct){
         timestamp = 1590440807
         latitude = 25.7993
         longitude = -80.33514
         groundspeed = 139
         altitude = 7
         altitudeStatus = None
         updateType = "TA"
         altitudeChange = "D"
      },
      (TrackStruct){
         timestamp = 1590440823
         latitude = 25.79976
         longitude = -80.32384
         groundspeed = 140
         altitude = 5
         altitudeStatus = None
         updateType = "TA"
         altitudeChange = "D"
      },
      (TrackStruct){
         timestamp = 1590440839
         latitude = 25.80046
         longitude = -80.31213
         groundspeed = 143
         altitude = 3
         altitudeStatus = None
         updateType = "TA"
         altitudeChange = "D"
      },
      (TrackStruct){
         timestamp = 1590440855
         latitude = 25.80088
         longitude = -80.30016
         groundspeed = 148
         altitude = 1
         altitudeStatus = None
         updateType = "TA"
         altitudeChange = "D"
      },
      (TrackStruct){
         timestamp = 1590440871
         latitude = 25.80116
         longitude = -80.29002
         groundspeed = 113
         altitude = 0
         altitudeStatus = None
         updateType = "TA"
         altitudeChange = "D"
      },
 }

In [394]:
data1 = Client.dict(get_historical_track)

In [430]:
data2 = pd.DataFrame(data1['data'][1]).T

In [431]:
data2

,0,1,2,3,4,5,6,7
0,timestamp,latitude,longitude,groundspeed,altitude,altitudeStatus,updateType,altitudeChange
1,1590431789,40.6646,-73.744,181,14,None,TA,C

In [433]:
get_historical_track2 = api.service.GetHistoricalTrack(jfk_mia_flight_info.loc[4, 'faFlightID'])

In [440]:
data3 = Client.dict(get_historical_track2)
data4 = pd.DataFrame(data3['data'][1]).T
data4['faFlightID'] = jfk_mia_flight_info.loc[4,'faFlightID']
data4

,0,1,2,3,4,5,6,7,faFlightID
0,timestamp,latitude,longitude,groundspeed,altitude,altitudeStatus,updateType,altitudeChange,AAL2572-1590122721-airline-0420
1,1590345406,40.6693,-73.7349,195,19,-,A,-,AAL2572-1590122721-airline-0420

In [ ]:
skeleton_cols = ['timestamp', 'latitude', 'longitude', 'groundspeed', 'altitude', 'updateType', 'altitudeChange', 'faFlightID']

In [485]:
test = api.service.SearchBirdseyeInFlight(query = '{airline 1}', howMany = 15)

In [486]:
test

(InFlightStruct){
   next_offset = 15
   aircraft[] =
      (InFlightAircraftStruct){
         faFlightID = "GUN520-1590122722-airline-0183"
         ident = "GUN520"
         prefix = None
         type = "C208"
         suffix = None
         origin = "PANC"
         destination = "PAEN"
         timeout = "0"
         timestamp = 0
         departureTime = 0
         firstPositionTime = 0
         arrivalTime = 0
         longitude = 0.0
         latitude = 0.0
         lowLongitude = 200.0
         lowLatitude = 200.0
         highLongitude = -200.0
         highLatitude = -200.0
         groundspeed = 0
         altitude = 0
         heading = 0
         altitudeStatus = None
         updateType = None
         altitudeChange = None
         waypoints = "61.17 -150 61.06 -150.25 60.95 -150.48 60.87 -150.64 60.76 -150.87 60.75 -150.89 60.69 -151.01 60.63 -151.13 60.57 -151.24"
      },
      (InFlightAircraftStruct){
         faFlightID = "CCA906-1590122722-airline-0129"
         ident = "CCA906"
         prefix = None
         type = "B738"
         suffix = None
         origin = "ZHCC"
         destination = "ZBAA"
         timeout = "0"
         timestamp = 0
         departureTime = 0
         firstPositionTime = 0
         arrivalTime = 0
         longitude = 0.0
         latitude = 0.0
         lowLongitude = 200.0
         lowLatitude = 200.0
         highLongitude = -200.0
         highLatitude = -200.0
         groundspeed = 0
         altitude = 0
         heading = 0
         altitudeStatus = None
         updateType = None
         altitudeChange = None
         waypoints = None
      },
      (InFlightAircraftStruct){
         faFlightID = "AAH7002-1590122722-airline-0014"
         ident = "AAH7002"
         prefix = None
         type = "B762"
         suffix = None
         origin = "PHNL"
         destination = "KLAX"
         timeout = "0"
         timestamp = 0
         departureTime = 0
         firstPositionTime = 0
         arrivalTime = 0
         longitude = 0.0
         latitude = 0.0
         lowLongitude = 200.0
         lowLatitude = 200.0
         highLongitude = -200.0
         highLatitude = -200.0
         groundspeed = 0
         altitude = 0
         heading = 0
         altitudeStatus = None
         updateType = None
         altitudeChange = None
         waypoints = "21.32 -157.92 21.32 -157.92 21.39 -157.78 21.39 -157.78 21.42 -157.72 21.43 -157.69 21.48 -157.59 21.52 -157.53 21.6 -157.37 21.68 -157.2 21.7 -157.16 21.7 -157.15 21.77 -157.03 21.84 -156.88 21.91 -156.75 21.93 -156.69 21.96 -156.64 22.06 -156.45 22.1 -156.36 22.17 -156.22 22.18 -156.2 22.3 -155.94 22.39 -155.76 23.6 -153.22 23.61 -153.19 23.63 -153.16 25.56 -148.77 30.2 -135.75 30.8 -133.65 32.95 -124.41 32.96 -124.38 33.51 -121.26 33.53 -121.16 33.58 -120.82 33.59 -120.75 33.6 -120.67 33.65 -120.36 33.66 -120.29 33.71 -120.01 33.76 -119.69 33.77 -119.63 33.78 -119.56 33.78 -119.51 33.79 -119.5 33.8 -119.37 33.81 -119.35 33.84 -119.15 33.84 -119.12 33.85 -119.07 33.86 -118.96 33.87 -118.91 33.87 -118.9 33.88 -118.85 33.9 -118.74 33.9 -118.7 33.91 -118.63 33.91 -118.62 33.92 -118.6 33.92 -118.58 33.92 -118.54 33.93 -118.5 33.94 -118.41"
      },
      (InFlightAircraftStruct){
         faFlightID = "AAR281-1590122723-airline-0084"
         ident = "AAR281"
         prefix = None
         type = "B741"
         suffix = None
         origin = "KLAX"
         destination = "RKSI"
         timeout = "0"
         timestamp = 0
         departureTime = 0
         firstPositionTime = 0
         arrivalTime = 0
         longitude = 0.0
         latitude = 0.0
         lowLongitude = 200.0
         lowLatitude = 200.0
         highLongitude = -200.0
         highLatitude = -200.0
         groundspeed = 0
         altitude = 0
         heading = 0
         altitudeStatus = None
         updateType = None
         altitudeChange = None
         waypoints = "33.94 -118.41 33.94 -118.47 33.94 -118.51 33.94 -118.52 33.94 -118.55 33.94 -118.56 33.94 -118.6 33.93 -118.64 33.93 -118.64 33.93 -118.67 33.93 -118.67 33.93 -118.72 33.92 -118.77 33.92 -118.82 33.92 -118.83 33.92 -118.86 33.92 -118.9 33.92 -119.02 33.96 -119.09 34 -119.16 34.01 -119.19 34.04 -119.21 34.09 -119.26 34.14 -119.3 34.19 -119.34 34.34 -119.47 34.41 -119.53 34.53 -119.64 34.69 -119.79 34.76 -119.87 34.9 -120 35.08 -120.17 35.17 -120.26 35.19 -120.27 35.4 -120.47 35.53 -120.58 35.59 -120.64 35.75 -120.77 36.71 -121.62 37.5 -122.33 37.54 -122.37 37.73 -122.55 38.08 -122.87 39.1 -122.88 41.33 -122.9 42.48 -122.91 43 -123.05 43.52 -123.18 43.74 -123.24 46.33 -123.97 46.95 -124.15 47.12 -124.18 47.47 -124.23 48.3 -124.63 48.5 -124.91 49.79 -126.84 50.25 -127.57 51.95 -130.4 54.08 -134.5 54.11 -134.56 54.12 -134.57 56.5 -140 58.5 -150 58.52 -150.21 58.73 -152.98 59 -160 58.9 -165.95 58.75 -167.72 57 -180 54.93 171.97 53.75 169.23 53.41 168.24 51.66 163.64 49.72 159.36 49.71 159.35 49.71 159.35 48.74 157.45 47.24 154.73 46.2 153 42.39 147.48 41.92 146.86 40.42 145 39.85 143.79 39.23 142.53 38.14 140.92 38.02 139.76 37.95 139.11 37.49 137.8 36.44 135.01 36.24 134.5 35.91 133.83 35.82 130.72 35.84 130.69 36.35 129.19 36.5 128.74 36.5 128.73 36.52 128.66 36.63 128.33 36.63 128.32 36.79 128 36.94 127.67 37.1 127.32 37.19 127.14 37.29 126.91 37.37 126.73 37.38 126.72 37.42 126.63 37.46 126.54 37.5 126.45"
      },
      (InFlightAircraftStruct){
         faFlightID = "GUN619-1590122722-airline-0190"
         ident = "GUN619"
         prefix = None
         type = "C208"
         suffix = None
         origin = "PAEN"
         destination = "PANC"
         timeout = "0"
         timestamp = 0
         departureTime = 0
         firstPositionTime = 0
         arrivalTime = 0
         longitude = 0.0
         latitude = 0.0
         lowLongitude = 200.0
         lowLatitude = 200.0
         highLongitude = -200.0
         highLatitude = -200.0
         groundspeed = 0
         altitude = 0
         heading = 0
         altitudeStatus = None
         updateType = None
         altitudeChange = None
         waypoints = "60.57 -151.24 60.66 -151.06 60.87 -150.64 60.95 -150.48 61.04 -150.28 61.06 -150.23 61.12 -150.11 61.17 -150"
      },
      (InFlightAircraftStruct){
         faFlightID = "AMX3-1590122722-airline-0229"
         ident = "AMX3"
         prefix = None
         type = "B789"
         suffix = None
         origin = "MMMX"
         destination = "LFPG"
         timeout = "0"
         timestamp = 0
         departureTime = 0
         firstPositionTime = 0
         arrivalTime = 0
         longitude = 0.0
         latitude = 0.0
         lowLongitude = 200.0
         lowLatitude = 200.0
         highLongitude = -200.0
         highLatitude = -200.0
         groundspeed = 0
         altitude = 0
         heading = 0
         altitudeStatus = None
         updateType = None
         altitudeChange = None
         waypoints = "19.43 -99.07 19.49 -98.96 19.54 -98.88 19.59 -98.79 19.65 -98.69 19.74 -98.54 19.77 -98.47 19.84 -98.36 19.99 -98.33 20.2 -98.29 20.44 -98.24 20.6 -98.21 20.66 -98.19 20.79 -98.17 20.94 -98.14 21.08 -98.11 21.49 -98.03 21.89 -97.94 22.29 -97.86 22.64 -97.62 23.15 -97.27 23.3 -97.17 24.66 -96.22 24.95 -96.01 25.63 -95.52 25.74 -95.4 26.03 -95.07 27.08 -93.89 27.68 -93.2 27.7 -93.18 28.1 -92.71 28.25 -92.54 28.49 -92.25 28.79 -91.89 29.66 -90.83 29.74 -90.52 29.85 -90 30.07 -89.6 30.26 -89.25 30.35 -89.07 30.44 -88.89 30.73 -88.36 31.31 -87.58 31.35 -87.53 32.22 -86.32 32.33 -86.18 32.57 -85.86 32.69 -85.7 32.81 -85.53 33.05 -85.21 33.27 -84.92 33.36 -84.8 33.63 -84.44 34.06 -83.98 34.7 -83.3 34.96 -82.97 36.7 -80.74 36.95 -80.41 37.02 -80.32 37.9 -79.11 38.25 -78.53 38.59 -77.95 38.64 -77.87 39.43 -77.05 39.5 -76.98 39.91 -76.18 39.96 -76.08 40.09 -75.82 40.22 -75.56 40.28 -75.33 40.46 -74.53 40.63 -73.77 40.79 -73.3 40.8 -73.29 41.24 -72.75 41.96 -71.84 42.16 -71.42 42.36 -70.99 42.45 -70.54 42.58 -69.96 43.15 -67 43.52 -65.34 44.16 -62.1 44.37 -60.87 44.73 -58.58 45.05 -56.27 45.06 -56.19 45.5 -52 46 -50 46.3 -48.79 46.58 -47.57 48 -40 48.3 -38.8 50 -30 51 -20 51 -15 51 -14 50.53 -9.3 50.37 -8 49.72 -4.63 49.67 -4.15 49.65 -4 49.65 -3.99 49.42 -1.15 49.4 -0.9 49.36 -0.51 49.34 -0.38 49.34 -0.3 49.3 0.02 49.25 0.48 49.21 0.87 49.16 1.35 49.13 1.6 49.09 1.92 49.08 1.99 49.06 2.17 49.04 2.3 49.03 2.42 49.01 2.55"
      },
      (InFlightAircraftStruct){
         faFlightID = "LAN500-1590122722-airline-0319"
         ident = "LAN500"
         prefix = None
         type = "B789"
         suffix = None
         origin = "SCEL"
         destination = "KMIA"
         timeout = "0"
         timestamp = 0
         departureTime = 0
         firstPositionTime = 0
         arrivalTime = 0
         longitude = 0.0
         latitude = 0.0
         lowLongitude = 200.0
         lowLatitude = 200.0
         highLongitude = -200.0
         highLatitude = -200.0
         groundspeed = 0
         altitude = 0
         heading = 0
         altitudeStatus = None
         updateType = None
         altitudeChange = None
         waypoints = "-33.38 -70.78 -33.27 -70.8 -33.18 -70.82 -33.08 -70.84 -32.97 -70.86 -32.81 -70.89 -32.46 -70.95 -32.25 -70.99 -32 -71.03 -31.85 -71.06 -31.78 -71.07 -31.65 -71.09 -31.5 -71.12 -31.36 -71.14 0.89 -75.68 2.68 -75.91 4.47 -76.13 14.32 -77.42 15 -77.51 19.92 -78.19 24 -78.8 24.01 -78.8 24.05 -78.82 24.74 -79.11 24.91 -79.18 24.94 -79.19 24.98 -79.24 25.01 -79.28 25.09 -79.37 25.16 -79.45 25.2 -79.5 25.37 -79.7 25.39 -79.73 25.49 -79.88 25.52 -79.93 25.66 -80.14 25.68 -80.22 25.71 -80.32 25.71 -80.4 25.69 -80.64 25.69 -80.69 25.69 -80.69 25.71 -80.62 25.73 -80.56 25.73 -80.54 25.75 -80.47 25.77 -80.38 25.8 -80.29"
      },
      (InFlightAircraftStruct){
         faFlightID = "CCA8416-1590122722-airline-0093"
         ident = "CCA8416"
         prefix = None
         type = "B77F"
         suffix = None
         origin = "KLAX"
         destination = "ZSPD"
         timeout = "0"
         timestamp = 0
         departureTime = 0
         firstPositionTime = 0
         arrivalTime = 0
         longitude = 0.0
         latitude = 0.0
         lowLongitude = 200.0
         lowLatitude = 200.0
         highLongitude = -200.0
         highLatitude = -200.0
         groundspeed = 0
         altitude = 0
         heading = 0
         altitudeStatus = None
         updateType = None
         altitudeChange = None
         waypoints = "33.94 -118.41 33.99 -118.48 34.01 -118.5 34.01 -118.5 34.03 -118.52 34.04 -118.54 34.05 -118.56 34.05 -118.56 34.06 -118.56 34.07 -118.58 34.09 -118.61 34.1 -118.62 34.11 -118.63 34.12 -118.64 34.16 -118.7 34.22 -118.78 34.3 -118.89 34.33 -118.93 34.35 -118.96 34.41 -119.04 34.55 -119.23 34.63 -119.35 34.67 -119.4 34.81 -119.59 34.86 -119.66 34.94 -119.77 34.96 -119.81 35.09 -119.99 35.13 -120.04 41.27 -130.06 47.86 -146.67 51.86 -174.62 51.87 -176.18 51.79 179.14 49.38 159.69 49.37 159.67 49.1 158.43 44.83 144.75 44.73 144.51 43.59 141.82 43.13 140.81 42.47 139.41 40.81 136.15 35.17 127.06 32.74 123.79 32.5 123.48 32.45 123.41 32.35 123.29 32.24 123.15 32.05 122.91 31.7 122.47 31.58 122.33 31.43 122.14 31.32 122 31.28 121.96 31.26 121.93 31.2 121.86 31.14 121.79"
      },
      (InFlightAircraftStruct){
         faFlightID = "GUN617-1590122722-airline-0189"
         ident = "GUN617"
         prefix = None
         type = "C208"
         suffix = None
         origin = "PAEN"
         destination = "PANC"
         timeout = "0"
         timestamp = 0
         departureTime = 0
         firstPositionTime = 0
         arrivalTime = 0
         longitude = 0.0
         latitude = 0.0
         lowLongitude = 200.0
         lowLatitude = 200.0
         highLongitude = -200.0
         highLatitude = -200.0
         groundspeed = 0
         altitude = 0
         heading = 0
         altitudeStatus = None
         updateType = None
         altitudeChange = None
         waypoints = "60.57 -151.24 60.66 -151.06 60.87 -150.64 60.95 -150.48 61.04 -150.28 61.06 -150.23 61.12 -150.11 61.17 -150"
      },
      (InFlightAircraftStruct){
         faFlightID = "DAL401-1590120594-fa-0001"
         ident = "DAL401"
         prefix = None
         type = "BCS1"
         suffix = None
         origin = "KSFO"
         destination = "KSEA"
         timeout = "0"
         timestamp = 0
         departureTime = 0
         firstPositionTime = 0
         arrivalTime = 0
         longitude = 0.0
         latitude = 0.0
         lowLongitude = 200.0
         lowLatitude = 200.0
         highLongitude = -200.0
         highLatitude = -200.0
         groundspeed = 0
         altitude = 0
         heading = 0
         altitudeStatus = None
         updateType = None
         altitudeChange = None
         waypoints = "37.62 -122.38 37.69 -122.27 37.7 -122.26 37.7 -122.25 37.72 -122.21 37.75 -122.21 37.75 -122.21 37.77 -122.21 37.82 -122.2 37.84 -122.2 37.97 -122.17 38.14 -122.15 38.17 -122.14 38.22 -122.13 38.31 -122.12 38.34 -122.11 38.47 -122.12 38.47 -122.12 38.64 -122.13 38.78 -122.14 38.85 -122.15 39.08 -122.16 39.17 -122.17 39.26 -122.18 39.3 -122.18 39.34 -122.18 39.66 -122.21 39.97 -122.23 40.07 -122.23 40.1 -122.24 41.21 -121.97 41.68 -121.85 42.15 -121.73 43.35 -122 43.74 -122.09 44.57 -122.3 45.2 -122.45 45.26 -122.47 45.46 -122.52 45.75 -122.59 45.75 -122.59 45.89 -122.63 45.96 -122.64 46 -122.65 46.09 -122.68 46.22 -122.7 46.27 -122.71 46.32 -122.72 46.47 -122.73 46.67 -122.73 46.78 -122.74 46.84 -122.67 46.87 -122.64 46.93 -122.57 46.94 -122.56 47.02 -122.53 47.08 -122.5 47.08 -122.5 47.19 -122.48 47.23 -122.47 47.35 -122.46 47.4 -122.46 47.41 -122.46 47.41 -122.46 47.41 -122.46 47.48 -122.46 47.51 -122.46 47.48 -122.39 47.45 -122.31"
      },
      (InFlightAircraftStruct){
         faFlightID = "KAP1179-1590122721-airline-0320"
         ident = "KAP1179"
         prefix = None
         type = "CNA"
         suffix = None
         origin = "KSTL"
         destination = "KIRK"
         timeout = "0"
         timestamp = 0
         departureTime = 0
         firstPositionTime = 0
         arrivalTime = 0
         longitude = 0.0
         latitude = 0.0
         lowLongitude = 200.0
         lowLatitude = 200.0
         highLongitude = -200.0
         highLatitude = -200.0
         groundspeed = 0
         altitude = 0
         heading = 0
         altitudeStatus = None
         updateType = None
         altitudeChange = None
         waypoints = None
      },
      (InFlightAircraftStruct){
         faFlightID = "CAY107-1590122722-airline-0160"
         ident = "CAY107"
         prefix = None
         type = "B732"
         suffix = None
         origin = "KMIA"
         destination = "MWCR"
         timeout = "0"
         timestamp = 0
         departureTime = 0
         firstPositionTime = 0
         arrivalTime = 0
         longitude = 0.0
         latitude = 0.0
         lowLongitude = 200.0
         lowLatitude = 200.0
         highLongitude = -200.0
         highLatitude = -200.0
         groundspeed = 0
         altitude = 0
         heading = 0
         altitudeStatus = None
         updateType = None
         altitudeChange = None
         waypoints = "25.8 -80.29 25.71 -80.24 25.69 -80.23 25.69 -80.22 25.62 -80.19 25.54 -80.14 25.43 -80.07 25.32 -80 25.3 -79.99 25.28 -79.98 25.08 -79.84 24.97 -79.75 24.85 -79.67 24.05 -79.1 24.01 -79.07 24 -79.07 23.3 -79.09 22.13 -79.11 21.88 -79.12 21.7 -79.12 20.31 -80.42 20.26 -80.46 20.01 -80.69 19.89 -80.8 19.76 -80.91 19.6 -81.06 19.47 -81.18 19.45 -81.2 19.41 -81.24 19.35 -81.29 19.28 -81.35"
      },
      (InFlightAircraftStruct){
         faFlightID = "KAP1287-1590122721-airline-0322"
         ident = "KAP1287"
         prefix = None
         type = "CNA"
         suffix = None
         origin = "KBNA"
         destination = "KOWB"
         timeout = "0"
         timestamp = 0
         departureTime = 0
         firstPositionTime = 0
         arrivalTime = 0
         longitude = 0.0
         latitude = 0.0
         lowLongitude = 200.0
         lowLatitude = 200.0
         highLongitude = -200.0
         highLatitude = -200.0
         groundspeed = 0
         altitude = 0
         heading = 0
         altitudeStatus = None
         updateType = None
         altitudeChange = None
         waypoints = None
      },
      (InFlightAircraftStruct){
         faFlightID = "CCA8414-1590122722-airline-0092"
         ident = "CCA8414"
         prefix = None
         type = "B77F"
         suffix = None
         origin = "KJFK"
         destination = "ZSPD"
         timeout = "0"
         timestamp = 0
         departureTime = 0
         firstPositionTime = 0
         arrivalTime = 0
         longitude = 0.0
         latitude = 0.0
         lowLongitude = 200.0
         lowLatitude = 200.0
         highLongitude = -200.0
         highLatitude = -200.0
         groundspeed = 0
         altitude = 0
         heading = 0
         altitudeStatus = None
         updateType = None
         altitudeChange = None
         waypoints = "40.64 -73.78 40.69 -73.8 40.74 -73.81 40.74 -73.81 40.76 -73.82 40.78 -73.83 40.8 -73.83 40.81 -73.83 40.83 -73.84 40.86 -73.85 40.86 -73.85 40.88 -73.86 40.88 -73.86 40.9 -73.86 40.93 -73.87 41.04 -73.91 41.21 -73.96 41.22 -73.97 41.26 -73.98 41.28 -73.99 41.3 -73.99 41.32 -74 41.33 -74 41.33 -74.01 41.35 -74.01 41.38 -74.02 41.41 -74.03 41.47 -74.05 41.53 -74.07 41.59 -74.09 41.65 -74.11 41.71 -74.13 41.91 -74.2 41.98 -74.23 42 -74.23 42.1 -74.27 42.14 -74.28 42.22 -74.31 42.3 -74.33 42.37 -74.36 42.38 -74.36 42.63 -74.45 42.88 -74.53 42.93 -74.55 44.71 -75.2 45.77 -75.6 46.86 -76.03 48.17 -76.57 50.82 -77.77 55.05 -80 56.02 -80.58 56.99 -81.19 62.58 -85.55 66.62 -90 67.14 -90.69 70.66 -96.47 72 -99.38 72.56 -100.74 73.19 -102.44 79.51 -155.14 79.18 -168.97 72.12 150.41 63.77 137.44 60.22 134.25 56.61 131.69 52.96 129.57 44.64 125.9 43.71 125.56 33.42 122.39 33.07 122.29 33 122.27 32.85 122.23 32.7 122.2 32.42 122.12 31.93 121.99 31.76 121.95 31.55 121.9 31.39 121.85 31.34 121.84 31.31 121.83 31.23 121.81 31.14 121.79"
      },
      (InFlightAircraftStruct){
         faFlightID = "THT7-1590122723-airline-0007"
         ident = "THT7"
         prefix = None
         type = "B789"
         suffix = None
         origin = "KLAX"
         destination = "NTAA"
         timeout = "0"
         timestamp = 0
         departureTime = 0
         firstPositionTime = 0
         arrivalTime = 0
         longitude = 0.0
         latitude = 0.0
         lowLongitude = 200.0
         lowLatitude = 200.0
         highLongitude = -200.0
         highLatitude = -200.0
         groundspeed = 0
         altitude = 0
         heading = 0
         altitudeStatus = None
         updateType = None
         altitudeChange = None
         waypoints = "33.94 -118.41 33.87 -118.47 33.85 -118.48 33.85 -118.49 33.83 -118.51 33.8 -118.53 33.78 -118.54 33.78 -118.55 33.75 -118.57 33.72 -118.59 33.7 -118.61 33.6 -118.69 33.5 -118.78 33.48 -118.8 33.47 -118.81 33.18 -119.04 33 -119.19 32.87 -119.3 32.8 -119.36 32.67 -119.47 32.61 -119.51 32.51 -119.6 32.38 -119.7 32.26 -119.79 31.92 -120.07 31.64 -120.29 30.65 -121.06 30.64 -121.07 13.65 -132.22 3.57 -137.83 2.38 -138.48 1.19 -139.12 -15.28 -148.27 -15.57 -148.43 -15.79 -148.56 -15.86 -148.61 -15.91 -148.63 -16.09 -148.74 -16.36 -148.9 -16.58 -149.04 -16.86 -149.2 -17 -149.29 -17.19 -149.4 -17.23 -149.42 -17.33 -149.49 -17.41 -149.53 -17.48 -149.57 -17.55 -149.62"
      },
 }

In [452]:
test1 = Client.dict(test)

In [487]:
empty = []

for i in range(10):
    empty.append(test['aircraft'][i])

In [495]:
testdf = pd.DataFrame(empty[1]).T

In [496]:
testdf

,0,1,2,3,4,5,6,7,8,9,...,15,16,17,18,19,20,21,22,23,24
0,faFlightID,ident,prefix,type,suffix,origin,destination,timeout,timestamp,departureTime,...,lowLatitude,highLongitude,highLatitude,groundspeed,altitude,heading,altitudeStatus,updateType,altitudeChange,waypoints
1,CCA906-1590122722-airline-0129,CCA906,None,B738,None,ZHCC,ZBAA,0,0,0,...,200,-200,-200,0,0,0,None,None,None,None

In [464]:
test1['aircraft'][1]

(InFlightAircraftStruct){
   faFlightID = "VIR607-1590554331-ed-0000"
   ident = "VIR607"
   prefix = None
   type = "B789"
   suffix = None
   origin = "EGLL"
   destination = "KLAX"
   timeout = "0"
   timestamp = 1590588743
   departureTime = 1590564735
   firstPositionTime = 1590564735
   arrivalTime = 0
   longitude = -95.05
   latitude = 58.25
   lowLongitude = -95.05
   lowLatitude = 51.46732
   highLongitude = -0.22812
   highLatitude = 66.07288
   groundspeed = 470
   altitude = 400
   heading = 229
   altitudeStatus = None
   updateType = "Z"
   altitudeChange = "-"
   waypoints = "51.48 -0.46 51.51 -0.53 51.54 -0.61 51.59 -0.73 51.65 -0.86 51.71 -1.01 52.57 -1.1 52.84 -1.78 53.07 -1.78 53.55 -2.67 53.64 -2.96 53.7 -3.16 53.79 -3.47 54.02 -3.55 54.57 -4.6 54.81 -5.5 55.02 -5.52 55.45 -6.43 56.02 -7.68 56.43 -8.63 56.63 -9.13 56.8 -10 57.03 -10.13 57.55 -11.55 60.28 -30 65.98 -54.52 65.98 -56.22 65.89 -58.57 65.41 -65.3 64.7 -71.45 62.72 -81.76 62.29 -83.46 61.93 -84.83 61.89 -84.95 61.73 -85.53 61.48 -86.4 59.3 -92.53 57.65 -96.66 56 -100 55.43 -100.9 54.56 -102.21 53.68 -103.46 51.35 -106.46 50.3 -107.69 49.67 -108.08 49 -108.49 48.09 -109.02 47.57 -109.32 47.05 -109.61 46.63 -109.77 46.45 -109.84 45.9 -110.04 44.17 -110.67 44.06 -110.7 43.69 -110.83 43.31 -110.96 42.19 -111.34 41.19 -111.65 40.6 -111.84 40.27 -111.94 39.14 -112.71 38.8 -112.94 37.93 -113.5 37.68 -113.67 37.5 -113.79 37.23 -113.97 36.96 -114.15 36.59 -114.39 35.51 -115.08 35.51 -115.08 35.41 -115.2 35.12 -115.58 35.11 -115.59 34.83 -115.96 34.77 -116.02 34.65 -116.18 34.6 -116.25 34.56 -116.3 34.48 -116.39 34.45 -116.43 34.42 -116.48 34.41 -116.49 34.39 -116.55 34.33 -116.68 34.28 -116.82 34.26 -116.87 34.24 -116.92 34.22 -116.95 34.21 -116.98 34.21 -116.98 34.2 -117.04 34.18 -117.11 34.17 -117.15 34.17 -117.15 34.16 -117.17 34.14 -117.24 34.11 -117.37 34.11 -117.37 34.1 -117.38 34.08 -117.45 34.08 -117.47 34.08 -117.48 34.07 -117.5 34.05 -117.67 34.04 -117.72 34.03 -117.78 34.02 -117.84 34.02 -117.91 34.02 -117.91 34.01 -117.92 34.01 -117.97 34.01 -117.98 33.99 -118.06 33.98 -118.12 33.98 -118.14 33.97 -118.22 33.96 -118.32 33.95 -118.39 33.94 -118.41"
 }

In [510]:
#Inputs (destination)

#Create a new function. First grab various amount of flights from location. 
    #will need a list to store the flights
    #convert the list into a dataframe
    #modify the next function to give an input from the dataframe

def get_flights(start_input, end_input, frequency_input, destination_input):
    ##



    
    
    ## Create an empty list to add searches to
    get_flights_list = []    


    #Skeleton df for get_flights
    get_flights_cols = ['faFlightID', 'ident', 'prefix', 'type', 'suffix', 'origin', 'destination', 'timeout', 'timestamp', 'departureTime', 'firstPositionTime', 'arrivalTime', 'longitude', 'latitude', 'lowLongitude', 'lowLatitude', 'highLongitude', 'highLatitude', 'groundspeed', 'altitude', 'heading', 'altitudeStatus', 'updateType', 'altitudeChange', 'waypoints']
    get_flights_df = pd.DataFrame(columns = get_flights_cols)

    #Grabbing flights from the list of destinations
    for destination in destination_input:
        add_dest = '{= dest ' + destination + '}'
        search_flight = api.service.SearchBirdseyeInFlight(query = add_dest, howMany = 15)
        search_dict = Client.dict(search_flight)
        for retrieved_query in range(len(search_dict['aircraft'])):
            get_flights_list.append(search_dict['aircraft'][retrieved_query])


    #Creates the dataframe and concats to the get_flights_df
    for list_item in range(len((get_flights_list)):





    return get_flights_list

In [511]:
destination_list = ['KLAX']
test_list = get_flights(destination_list)

In [512]:
len(test_list)

15

In [ ]:
for list_item in range(len(test_list)):
    cols_dict  = {}
    for column in skeleton_cols:
        cols_dict[column] = column

In [513]:
skeleton_cols = ['faFlightID', 'ident', 'prefix', 'type', 'suffix', 'origin', 'destination', 'timeout', 'timestamp', 'departureTime', 'firstPositionTime', 'arrivalTime', 'longitude', 'latitude', 'lowLongitude', 'lowLatitude', 'highLongitude', 'highLatitude', 'groundspeed', 'altitude', 'heading', 'altitudeStatus', 'updateType', 'altitudeChange', 'waypoints']

In [505]:
klax = 'KLAX'
dest = '{=dest ' + klax + '}'

In [506]:
dest

'{=dest KLAX}'

In [472]:



skeleton_df = pd.DataFrame(columns = skeleton_cols) 
for i in range(len(test1['aircraft'])):

SyntaxError: unexpected EOF while parsing (<ipython-input-472-83704e837683>, line 2)

# IAH - LAX

From [here](https://www.flights.com/flights/houston-iah-to-los-angeles-lax/): "With 6 different airlines operating between houstan and Los Angeles, there are, on average, 2,642 flights per month. This equates to about 629 flights per week, and 90 flights per day from IAH to LAX." 5 out of 6 of these airliners are: 
- United Airlines (Flight UA 302) 
- Air China (CA 7398), Azul (AD 7026)
- Asiana Airlines (OZ 9512)
- Air New Zealand (NZ 9653)