# Determining Airline Prices
By: Chirstopher Kuzemka : [Github](https://git.generalassemb.ly)

## Problem Statement

Aviation is one of the largest industries dominating our global market today. Commercial aviation has made it possible for people to connect with each other in ways that may have been unimaginable over a century ago. However, a lot of thought must be put into the FAA standards and routes that modern planes must make today to make such connections possible.

Consider the case example where a startup airliner, known as "Kruze", wants to establish itself as a top competitor against existing airliners today. A part of this startup process focuses on understanding the costs that will come into play when managing flights. Our job as data scientists today is to help Kruze determine the minimum threshold cost the airliner must charge their passengers on a ticket class basis in order to break even with a profit. To do this, we are going to use existing flight routes (velocity and altitude data), existing data on jet fuel pricing, and existing flight ticket prices (as a prediction) to help us create a supervised learning model. 

To start, we will approach the project with the intention of expressing a minimum proof of concept. With such introduction, we will make some limitations to our study and decrease the potential for scope increase by:

- conducting an idealized thermal jet propulsion cycle for feature engineering purposes (focusing on an open Brayton cycle in particular)
- analyzing flight route data across the U.S. domestically; choosing up to 3 routes of varying sizes and suggesting their reverse flight paths as data inputs as well. 
    - **Houston, TX** to **Los Angeles, CA** (IAH - LAX)
    - **New York City, NY** to **Miami, FL** (JFK - MIA)
    - **Portland, WA** to **Chicago, IL** (PDX - ORD)
- assuming air to be treated as an ideal gas
- assuming operating engine conditions to be steady state
- assuming kinetic energy and potential energy to be negligible in our system, except at inlet and exit conditioins of jet engine itself
- assuming atmospheric temperature, pressure, and air density to be an averaged value between 0 and 15,000 meters altitude
- assuming data incorporating head or tail wind effects to be negligible
- assuming passenger weight to be negligible
- assuming external costs from the study (including food/maintenance/crew salary) to be negligible
- using price data from future flights as opposed to previous flights as previous flight pricing is not readily available


All current assumptions labeled are set to allow us to achieve (or attempt to achieve) our goal within a certain time frame, as Kruze is requiring an answer from us quickly! With this in mind, we will consider discussing how such assumptions can contribute to any error throughout our study, as well as remind ourselves that integrating negated features for future work may actually be very beneficial to us in achieveing a stronger prediction. Conducting an idealized thermal engine analysis will help us understand the average power output of a given plane's engines throughout different phases of its flight. Routes chosen throughout a variety of times and seasons will also help us determine how such elements play a role in pricing. Finally, some plane specifications (including aircraft type, number of seats it supports, as well as type/number of engines) will allow us to consider any extra technical factors for ticket pricing. 

As we are working with what is considerred to be a continuous variable, we will analyze common price trends utilizing a supervised regression model, such as Linear Regression, Logistic Regression, SVR, AdaBoosting Regression, Gradient Boosting Regression, KNNRegression, and Naive Bayes Regression. We will ultimately be using the Mean Absolute Error against our predictions to help us gauge how well our selected model predicts the price and discuss what issues may be observed from the limitations of this study.



## Executive Summary

## Table of Contents
[1.00 Data Loading](#1.00-Data-Loading)

[2.00 Superficial Analysis and History](#2.00-Superficial-Analysis-and-History)

- [2.01 Quick Check](#2.01-Quick-Check)

- [2.02 Data Documentation Exploration](#2.02-Data-Documentation-Exploration)

[3.00 Data Cleaning](#3.00-Data-Cleaning)  

[4.00 Exploratory Data Analysis and Visualization](#4.00-Exploratory-Data-Analysis-and-Visualization)

[5.00 Machine Learning Modeling and Visulalization](#5.00-Machine-Learning-Modeling-and-Visulalization)

- [3.01 Model Preparation](#3.01-Model-Preparation)

- [3.02 Modeling](#3.02-Modeling)

- [3.03 Model Selection](#3.03-Model-Selection)

- [3.04 Model Evaluation](#3.04-Model-Evaluation)

[6.00 Conclusions](#6.00-Conclusions)

[7.00 Sources and References](#7.00-Sources-and-References)

## Data Dictionary

# 1.00 Data Loading

In [1]:
import pandas as pd #imports the pandas package
import numpy as np #imports the numpy package
import matplotlib.pyplot as plt #imports the matplotlib plotting package
import seaborn as sns #imports the seaborn package

import json #imports the json package
import ast

Bad key "text.kerning_factor" on line 4 in
/Users/ChristopherKuzemka/opt/anaconda3/envs/DSI_test/lib/python3.7/site-packages/matplotlib/mpl-data/stylelib/_classic_test_patch.mplstyle.
You probably need to get an updated matplotlibrc file from
https://github.com/matplotlib/matplotlib/blob/v3.1.3/matplotlibrc.template
or from the matplotlib source distribution

## 1.01 Flight Tracking Data

In [2]:
current_flights = pd.read_csv('../data/current_flights.csv') #reads the current_flights csv
flight_combinations = pd.read_csv('../data/flight_combinations.csv') #reads the flight_combinations csv
flight_schedules = pd.read_csv('../data/flight_schedules.csv') #reads the flight_schedules csv

In [3]:
flight_combinations

    Unnamed: 0 origin destination  0
0            0   CYHM        KJFK  1
1            1   CYUL        KORD  1
2            2   CYVR        KLAX  1
3            3   CYYZ        KIAH  2
4            4   CYYZ        KJFK  1
5            5   CYYZ        KLAX  1
6            6   CYYZ        KORD  4
7            7   EBBR        KMIA  2
8            8   EBBR        KORD  1
9            9   EBLG        KATL  1
10          10   EBLG        KJFK  2
11          11   EBLG        KORD  1
12          12   EDDF        KATL  4
13          13   EDDF        KIAH  1
14          14   EDDF        KJFK  2
15          15   EDDF        KLAX  1
16          16   EDDF        KORD  7
17          17   EDDN        KMIA  1
18          18   EDDP        KJFK  1
19          19   EGLL        KATL  1
20          20   EGLL        KJFK  6
21          21   EGLL        KLAX  4
22          22   EGLL        KMIA  2
23          23   EGLL        KORD  1
24          24   EHAM        KATL  2
25          25   EHAM        KJFK  1
26          26   EHAM        KLAX  1
27          27   EHAM        KMIA  1
28          28   EHBK        KATL  2
29          29   EIDW        KJFK  1
30          30   ELLX        KATL  1
31          31   ELLX        KIAH  1
32          32   ELLX        KLAX  1
33          33   ELLX        KMIA  1
34          34   KABQ        KIAH  2
35          35   KABQ        KLAX  2
36          36   KABY        KATL  1
37          37   KAEX        KATL  2
38          38   KAEX        KIAH  2
39          39   KAEX        KMIA  1
40          40   KAFW        KIAH  1
41          41   KAFW        KLAX  1
42          42   KAGS        KATL  1
43          43   KAPF        KMIA  1
44          44   KAST        KPDX  2
45          45   KATL        KIAH  4
46          46   KATL        KLAX  3
47          47   KATL        KMIA  4
48          48   KATL        KPDX  1
49          49   KAUS        KIAH  2
50          50   KBFI        KPDX  2
51          51   KBIH        KPDX  1
52          52   KBKV        KMIA  1
53          53   KBOI        KPDX  1
54          54   KBOS        KMIA  1
55          55   KBUR        KPDX  1
56          56   KBWI        KPDX  1
57          57   KCVG        KPDX  1
58          58   KCVO        KPDX  2
59          59   KDEN        KPDX  3

## 1.02 Pricing Data

In [4]:
monthly_pricing_2021 = pd.read_csv('../data/2021_monthly_pricing2.csv') #reads the 2021_monthly_pricing csv
june2020_to_december2020_monthlyprice = pd.read_csv('../data/june2020_to_december2020_monthlyprice.csv') #reads the 2020

## 1.03 Additional Relevant Data

In [5]:
tsa_checkpoint_travel = pd.read_excel('../data/tsa_checkpoint_travel.xlsx', sheet_name = 'Sheet1', index_col = None, usecols = 'A:C') #reads the tsa_checkpoint_travel xlsx
tsa_confirmed_cases = pd.read_excel('../data/tsa_confirmed_cases.xlsx', sheet_name = 'Sheet1', index_col = None, usecols=  'A:E') #reads the tsa_confirmed_cases xlsx

# 2.00 Data Data Cleaning and Analysis

## 2.01 Quick Check

In [6]:
def quick_check(dataframe):
    print("-------------------------------------------------------------------------------------------------")
    print(f"The head of your input dataframe is dataframe is:")
    print(" - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -")
    print(dataframe.head()) #checks the head of the dataframe
    print("-------------------------------------------------------------------------------------------------")
    print(f"The tail of your input dataframe is:")
    print(" - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -")
    print(dataframe.tail()) #checks the tail of the dataframe
    print("-------------------------------------------------------------------------------------------------")
    print(f"The shape of the dataframe is {dataframe.shape[0]} rows and {dataframe.shape[1]} columns.") #checks the shape of the dataframe
    print("-------------------------------------------------------------------------------------------------")
    print("The below shows whether there exist nulls in our dataframe or not:")
    print(" - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -")
    print(dataframe.isnull().any()) #checks the null status of the current_flights dataframe
    print("-------------------------------------------------------------------------------------------------")
    print("The below shows the useful information to be aware of when exploring this input dataframe:")
    print(" - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -")
    print(dataframe.info()) #checks the null status of the current_flights dataframe

The above function is created to conveniently conduct a quick check on the dataframe for the reader/user. Through it, we will able to see the __head__, __tail__, __shape__, __null presence__, and __important dataframe information__.

### Current Flights Data

In [7]:
quick_check(current_flights) #performs a quick check on the current_flights dataframe

-------------------------------------------------------------------------------------------------
The head of your input dataframe is dataframe is:
 - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
   Unnamed: 0                      faFlightID   ident prefix  type  suffix  \
0           0       DAL333-1590465975-fa-0008  DAL333    NaN  A321     NaN
1           1  KLM601-1590468354-airline-0005  KLM601    NaN  B77W     NaN
2           2       VIR607-1590664542-ed-0002  VIR607    NaN  B789     NaN
3           3       DAL702-1590465982-fa-0006  DAL702    NaN  A321     NaN
4           4  ACA572-1590468353-airline-0278  ACA572    NaN  A319     NaN

  origin destination  timeout   timestamp  ...  lowLatitude  highLongitude  \
0   KATL        KLAX        0  1590716390  ...     32.94676      -84.44664
1   EHAM        KLAX        0  1590711509  ...     33.95142        4.71741
2   EGLL        KLAX        0  1590711368  ...     33.95091       -0.39345
3   KATL        KLAX        0  1590709847  ...     33.64682      -84.44602
4   CYVR        KLAX        0  1590706589  ...     33.95183     -118.17553

   highLatitude  groundspeed  altitude  heading  altitudeStatus  updateType  \
0      33.70005          448       300      264             NaN           A
1      66.06976          130         1      263             NaN           A
2      66.09780          101         1      263             NaN           A
3      35.52932          117         1      263             NaN           A
4      49.18984          109         1      263             NaN           A

   altitudeChange                                          waypoints
0               D  33.64 -84.43 33.68 -84.28 33.81 -84.28 33.81 -...
1               D  52.31 4.76 53.02 2.53 53.06 2.46 53.2 1.53 53....
2               D  51.48 -0.46 51.56 -0.59 51.62 -0.68 51.7 -0.79...
3               D  33.64 -84.43 33.68 -84.28 33.79 -85 33.81 -85....
4               D  49.19 -123.18 49.12 -123.26 49.12 -123.27 49.0...

[5 rows x 26 columns]
-------------------------------------------------------------------------------------------------
The tail of your input dataframe is:
 - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
     Unnamed: 0                       faFlightID    ident prefix  type  \
100         100  EDV4708-1590468354-airline-0112  EDV4708    NaN  CRJ9
101         101        ABW341-1590583043-eb-0002   ABW341    NaN  B744
102         102  DLH8176-1590641113-airline-0180  DLH8176    NaN  B772
103         103  CLX8626-1590641113-airline-0361  CLX8626    NaN  B744
104         104  DLH8172-1590641113-airline-0177  DLH8172    NaN  MD11

     suffix origin destination  timeout   timestamp  ...  lowLatitude  \
100     NaN   KAGS        KATL        0  1590664135  ...     33.19607
101     NaN   EBLG        KATL        0  1590631398  ...     33.53333
102     NaN   EDDF        KATL        0           0  ...    200.00000
103     NaN   ELLX        KATL        0           0  ...    200.00000
104     NaN   EDDF        KATL        0           0  ...    200.00000

     highLongitude  highLatitude  groundspeed  altitude  heading  \
100      -81.97964      33.63222          126        10       91
101        5.56940      54.10380          132         9       90
102     -200.00000    -200.00000            0         0        0
103     -200.00000    -200.00000            0         0        0
104     -200.00000    -200.00000            0         0        0

     altitudeStatus  updateType  altitudeChange  \
100             NaN           A               D
101                           A               D
102             NaN         NaN             NaN
103             NaN         NaN             NaN
104             NaN         NaN             NaN

                                             waypoints
100  33.37 -81.96 33.39 -82.03 33.39 -82.04 33.38 -...
101  50.64 5.44 50.69 5.24 50.73 5.08 50.78 4.89 50...
102                                                NaN
103                                                NaN
104                                                NaN

[5 rows x 26 columns]
-------------------------------------------------------------------------------------------------
The shape of the dataframe is 105 rows and 26 columns.
-------------------------------------------------------------------------------------------------
The below shows whether there exist nulls in our dataframe or not:
 - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
Unnamed: 0           False
faFlightID           False
ident                False
prefix                True
type                  True
suffix                True
origin               False
destination          False
timeout              False
timestamp            False
departureTime        False
firstPositionTime    False
arrivalTime          False
longitude            False
latitude             False
lowLongitude         False
lowLatitude          False
highLongitude        False
highLatitude         False
groundspeed          False
altitude             False
heading              False
altitudeStatus        True
updateType            True
altitudeChange        True
waypoints             True
dtype: bool
-------------------------------------------------------------------------------------------------
The below shows the useful information to be aware of when exploring this input dataframe:
 - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105 entries, 0 to 104
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         105 non-null    int64
 1   faFlightID         105 non-null    object
 2   ident              105 non-null    object
 3   prefix             1 non-null      object
 4   type               103 non-null    object
 5   suffix             0 non-null      float64
 6   origin             105 non-null    object
 7   destination        105 non-null    object
 8   timeout            105 non-null    int64
 9   timestamp          105 non-null    int64
 10  departureTime      105 non-null    int64
 11  firstPositionTime  105 non-null    int64
 12  arrivalTime        105 non-null    int64
 13  longitude          105 non-null    float64
 14  latitude           105 non-null    float64
 15  lowLongitude       105 non-null    float64
 16  lowLatitude        105 non-null    float64
 17  highLongitude      105 non-null    float64
 18  highLatitude       105 non-null    float64
 19  groundspeed        105 non-null    int64
 20  altitude           105 non-null    int64
 21  heading            105 non-null    int64
 22  altitudeStatus     31 non-null     object
 23  updateType         90 non-null     object
 24  altitudeChange     90 non-null     object
 25  waypoints          89 non-null     object
dtypes: float64(7), int64(9), object(10)
memory usage: 21.5+ KB
None

In [8]:
current_flights.columns

Index(['Unnamed: 0', 'faFlightID', 'ident', 'prefix', 'type', 'suffix',
       'origin', 'destination', 'timeout', 'timestamp', 'departureTime',
       'firstPositionTime', 'arrivalTime', 'longitude', 'latitude',
       'lowLongitude', 'lowLatitude', 'highLongitude', 'highLatitude',
       'groundspeed', 'altitude', 'heading', 'altitudeStatus', 'updateType',
       'altitudeChange', 'waypoints'],
      dtype='object')

#### Key takeaways fromm the above output:

- The dataframe is large and denotes separations with a `\` symbol.

- There is an `Unnamed: 0` column in our dataframe which is not necessary to include. We will remove this in our cleaning.

- Our dataframe is 105 rows and 26 columns. Not all columns are revealed in the head and tail of the function. 

- Our dataframe contains nulls. 

- Most of the values in our dataframe are numerical.

### Flight Combinations Data

In [9]:
quick_check(flight_combinations) #performs a quick check on the flight combinations dataframe

-------------------------------------------------------------------------------------------------
The head of your input dataframe is dataframe is:
 - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
   Unnamed: 0 origin destination  0
0           0   CYHM        KJFK  1
1           1   CYUL        KORD  1
2           2   CYVR        KLAX  1
3           3   CYYZ        KIAH  2
4           4   CYYZ        KJFK  1
-------------------------------------------------------------------------------------------------
The tail of your input dataframe is:
 - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
    Unnamed: 0 origin destination  0
55          55   KBUR        KPDX  1
56          56   KBWI        KPDX  1
57          57   KCVG        KPDX  1
58          58   KCVO        KPDX  2
59          59   KDEN        KPDX  3
-------------------------------------------------------------------------------------------------
The shape of the dataframe is 60 rows and 4 columns.
-------------------------------------------------------------------------------------------------
The below shows whether there exist nulls in our dataframe or not:
 - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
Unnamed: 0     False
origin         False
destination    False
0              False
dtype: bool
-------------------------------------------------------------------------------------------------
The below shows the useful information to be aware of when exploring this input dataframe:
 - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   60 non-null     int64
 1   origin       60 non-null     object
 2   destination  60 non-null     object
 3   0            60 non-null     int64
dtypes: int64(2), object(2)
memory usage: 2.0+ KB
None

#### Key Takeaways form the above output:

- There is an `Unnamed: 0` column which does not need to be included. 

- The dataframe is 60 rows and has 4 columns. 

- The column named `0` is the final column and shows the frequency of the flight combination shown in the dataframe. 

- There are no nulls. 

- All of the values are numerical.

### Flight Schedules Data

In [10]:
quick_check(flight_schedules)

-------------------------------------------------------------------------------------------------
The head of your input dataframe is dataframe is:
 - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
   Unnamed: 0    ident actual_ident  departuretime  arrival_time origin  \
0           0  UAL4282      ASQ4282     1588330800    1588340820   CYUL
1           1  ACA7591      AC27591     1588335000    1588343880   CYUL
2           2  UAL8371      AC27591     1588335000    1588343880   CYUL
3           3  UAL4245      ASQ4245     1588341060    1588351080   CYUL
4           4  UAL8481      AC27595     1588353300    1588362000   CYUL

  destination aircrafttype                                       meal_service  \
0        KORD         E75L    Business: Refreshments / Economy: Food for sale
1        KORD         E75L  Business: Breakfast / Economy: Breakfast, Food...
2        KORD         E75L       Business: Breakfast / Economy: Food for sale
3        KORD         E75L    Business: Refreshments / Economy: Food for sale
4        KORD         E75L            Business: Meal / Economy: Food for sale

   seats_cabin_first  seats_cabin_business  seats_cabin_coach
0                  0                    12                 58
1                  0                    12                 64
2                  0                    12                 64
3                  0                    12                 58
4                  0                    12                 64
-------------------------------------------------------------------------------------------------
The tail of your input dataframe is:
 - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
      Unnamed: 0    ident actual_ident  departuretime  arrival_time origin  \
5818        5818   UAL464          NaN     1590514200    1590523860   KDEN
5819        5819   SWA378          NaN     1590520500    1590529500   KDEN
5820        5820  DLH9070       UAL393     1590539460    1590549120   KDEN
5821        5821   UAL393          NaN     1590539460    1590549120   KDEN
5822        5822   SWA993          NaN     1590544800    1590554400   KDEN

     destination aircrafttype                                  meal_service  \
5818        KPDX         A319  Business: Snack or brunch / Economy: No meal
5819        KPDX         B738                              Economy: No meal
5820        KPDX         A319  Business: Snack or brunch / Economy: No meal
5821        KPDX         A319  Business: Snack or brunch / Economy: No meal
5822        KPDX         B738                              Economy: No meal

      seats_cabin_first  seats_cabin_business  seats_cabin_coach
5818                  0                    12                114
5819                  0                     0                175
5820                  0                    12                114
5821                  0                    12                114
5822                  0                     0                175
-------------------------------------------------------------------------------------------------
The shape of the dataframe is 5823 rows and 12 columns.
-------------------------------------------------------------------------------------------------
The below shows whether there exist nulls in our dataframe or not:
 - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
Unnamed: 0              False
ident                   False
actual_ident             True
departuretime           False
arrival_time            False
origin                  False
destination             False
aircrafttype             True
meal_service             True
seats_cabin_first       False
seats_cabin_business    False
seats_cabin_coach       False
dtype: bool
-------------------------------------------------------------------------------------------------
The below shows the useful information to be aware of when exploring this input dataframe:
 - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5823 entries, 0 to 5822
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Unnamed: 0            5823 non-null   int64
 1   ident                 5823 non-null   object
 2   actual_ident          4639 non-null   object
 3   departuretime         5823 non-null   int64
 4   arrival_time          5823 non-null   int64
 5   origin                5823 non-null   object
 6   destination           5823 non-null   object
 7   aircrafttype          5373 non-null   object
 8   meal_service          5429 non-null   object
 9   seats_cabin_first     5823 non-null   int64
 10  seats_cabin_business  5823 non-null   int64
 11  seats_cabin_coach     5823 non-null   int64
dtypes: int64(6), object(6)
memory usage: 546.0+ KB
None

In [11]:
flight_schedules.columns

Index(['Unnamed: 0', 'ident', 'actual_ident', 'departuretime', 'arrival_time',
       'origin', 'destination', 'aircrafttype', 'meal_service',
       'seats_cabin_first', 'seats_cabin_business', 'seats_cabin_coach'],
      dtype='object')

#### Key takeaways fromm the above output:

- The dataframe is large and denotes separations with a `\` symbol.

- There is an `Unnamed: 0` column in our dataframe which is not necessary to include. We will remove this in our cleaning.

- Our dataframe is 5823 rows and 12 columns.

- Our dataframe contains nulls. 

- We have an even split of numerical and string values.

### Monthly Pricing 2021 Data

In [12]:
quick_check(monthly_pricing_2021)

-------------------------------------------------------------------------------------------------
The head of your input dataframe is dataframe is:
 - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
   Unnamed: 0 Quotes Places Carriers  \
0           0     []     []       []
1           1     []     []       []
2           2     []     []       []
3           3     []     []       []
4           4     []     []       []

                                          Currencies ValidationErrors
0  [{'Code': 'USD', 'Symbol': '$', 'ThousandsSepa...              NaN
1  [{'Code': 'USD', 'Symbol': '$', 'ThousandsSepa...              NaN
2  [{'Code': 'USD', 'Symbol': '$', 'ThousandsSepa...              NaN
3  [{'Code': 'USD', 'Symbol': '$', 'ThousandsSepa...              NaN
4  [{'Code': 'USD', 'Symbol': '$', 'ThousandsSepa...              NaN
-------------------------------------------------------------------------------------------------
The tail of your input dataframe is:
 - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
     Unnamed: 0                                             Quotes  \
715         715  [{'QuoteId': 1, 'MinPrice': 79.0, 'Direct': Tr...
716         716                                                 []
717         717  [{'QuoteId': 1, 'MinPrice': 120.0, 'Direct': F...
718         718                                                 []
719         719                                                 []

                                                Places  \
715  [{'PlaceId': 47118, 'IataCode': 'DEN', 'Name':...
716                                                 []
717  [{'PlaceId': 47118, 'IataCode': 'DEN', 'Name':...
718                                                 []
719                                                 []

                                              Carriers  \
715  [{'CarrierId': 1065, 'Name': 'Frontier Airline...
716                                                 []
717  [{'CarrierId': 851, 'Name': 'Alaska Airlines'}...
718                                                 []
719                                                 []

                                            Currencies ValidationErrors
715  [{'Code': 'USD', 'Symbol': '$', 'ThousandsSepa...              NaN
716  [{'Code': 'USD', 'Symbol': '$', 'ThousandsSepa...              NaN
717  [{'Code': 'USD', 'Symbol': '$', 'ThousandsSepa...              NaN
718  [{'Code': 'USD', 'Symbol': '$', 'ThousandsSepa...              NaN
719  [{'Code': 'USD', 'Symbol': '$', 'ThousandsSepa...              NaN
-------------------------------------------------------------------------------------------------
The shape of the dataframe is 720 rows and 6 columns.
-------------------------------------------------------------------------------------------------
The below shows whether there exist nulls in our dataframe or not:
 - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
Unnamed: 0          False
Quotes               True
Places               True
Carriers             True
Currencies           True
ValidationErrors     True
dtype: bool
-------------------------------------------------------------------------------------------------
The below shows the useful information to be aware of when exploring this input dataframe:
 - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 720 entries, 0 to 719
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        720 non-null    int64
 1   Quotes            696 non-null    object
 2   Places            696 non-null    object
 3   Carriers          696 non-null    object
 4   Currencies        696 non-null    object
 5   ValidationErrors  24 non-null     object
dtypes: int64(1), object(5)
memory usage: 33.9+ KB
None

#### Key takeaways from the above output:

- The dataframe is large and denotes separations with a `\` symbol.

- The data is stored in json dictionaries. We will need to clean that to access more readable data.

- There is an `Unnamed: 0` column in our dataframe which is not necessary to include. We will remove this in our cleaning.

- Our dataframe is 720 rows and 7 columns.

- Our dataframe contains nulls. 

- We have mostly string values.

### June 2020 To December 2020 Monthly Prices Data

In [13]:
quick_check(june2020_to_december2020_monthlyprice)

-------------------------------------------------------------------------------------------------
The head of your input dataframe is dataframe is:
 - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
   Unnamed: 0                                             Quotes  \
0           0                                                 []
1           1  [{'QuoteId': 1, 'MinPrice': 327.0, 'Direct': F...
2           2  [{'QuoteId': 1, 'MinPrice': 353.0, 'Direct': F...
3           3                                                 []
4           4                                                 []

                                              Places  \
0                                                 []
1  [{'PlaceId': 60987, 'IataCode': 'JFK', 'Name':...
2  [{'PlaceId': 60987, 'IataCode': 'JFK', 'Name':...
3                                                 []
4                                                 []

                                   Carriers  \
0                                        []
1  [{'CarrierId': 1907, 'Name': 'WestJet'}]
2  [{'CarrierId': 1907, 'Name': 'WestJet'}]
3                                        []
4                                        []

                                          Currencies ValidationErrors
0  [{'Code': 'USD', 'Symbol': '$', 'ThousandsSepa...              NaN
1  [{'Code': 'USD', 'Symbol': '$', 'ThousandsSepa...              NaN
2  [{'Code': 'USD', 'Symbol': '$', 'ThousandsSepa...              NaN
3  [{'Code': 'USD', 'Symbol': '$', 'ThousandsSepa...              NaN
4  [{'Code': 'USD', 'Symbol': '$', 'ThousandsSepa...              NaN
-------------------------------------------------------------------------------------------------
The tail of your input dataframe is:
 - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
     Unnamed: 0                                             Quotes  \
415         415  [{'QuoteId': 1, 'MinPrice': 69.0, 'Direct': Tr...
416         416  [{'QuoteId': 1, 'MinPrice': 79.0, 'Direct': Tr...
417         417  [{'QuoteId': 1, 'MinPrice': 199.0, 'Direct': T...
418         418  [{'QuoteId': 1, 'MinPrice': 69.0, 'Direct': Tr...
419         419  [{'QuoteId': 1, 'MinPrice': 63.0, 'Direct': Tr...

                                                Places  \
415  [{'PlaceId': 47118, 'IataCode': 'DEN', 'Name':...
416  [{'PlaceId': 47118, 'IataCode': 'DEN', 'Name':...
417  [{'PlaceId': 47118, 'IataCode': 'DEN', 'Name':...
418  [{'PlaceId': 47118, 'IataCode': 'DEN', 'Name':...
419  [{'PlaceId': 47118, 'IataCode': 'DEN', 'Name':...

                                              Carriers  \
415  [{'CarrierId': 851, 'Name': 'Alaska Airlines'}...
416  [{'CarrierId': 1065, 'Name': 'Frontier Airline...
417  [{'CarrierId': 851, 'Name': 'Alaska Airlines'}...
418  [{'CarrierId': 1065, 'Name': 'Frontier Airline...
419  [{'CarrierId': 1065, 'Name': 'Frontier Airline...

                                            Currencies ValidationErrors
415  [{'Code': 'USD', 'Symbol': '$', 'ThousandsSepa...              NaN
416  [{'Code': 'USD', 'Symbol': '$', 'ThousandsSepa...              NaN
417  [{'Code': 'USD', 'Symbol': '$', 'ThousandsSepa...              NaN
418  [{'Code': 'USD', 'Symbol': '$', 'ThousandsSepa...              NaN
419  [{'Code': 'USD', 'Symbol': '$', 'ThousandsSepa...              NaN
-------------------------------------------------------------------------------------------------
The shape of the dataframe is 420 rows and 6 columns.
-------------------------------------------------------------------------------------------------
The below shows whether there exist nulls in our dataframe or not:
 - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
Unnamed: 0          False
Quotes               True
Places               True
Carriers             True
Currencies           True
ValidationErrors     True
dtype: bool
-------------------------------------------------------------------------------------------------
The below shows the useful information to be aware of when exploring this input dataframe:
 - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 420 entries, 0 to 419
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        420 non-null    int64
 1   Quotes            406 non-null    object
 2   Places            406 non-null    object
 3   Carriers          406 non-null    object
 4   Currencies        406 non-null    object
 5   ValidationErrors  14 non-null     object
dtypes: int64(1), object(5)
memory usage: 19.8+ KB
None

#### Key takeaways fromm the above output:

- The dataframe is large and denotes separations with a `\` symbol.

- The data is stored in json dictionaries. We will need to clean that to access more readable data.

- There is an `Unnamed: 0` column in our dataframe which is not necessary to include. We will remove this in our cleaning.

- Our dataframe is 5823 rows and 6 columns.

- Our dataframe contains nulls. 

- We have mostly string values.

### TSA Checkpoint Data

In [14]:
quick_check(tsa_checkpoint_travel)

-------------------------------------------------------------------------------------------------
The head of your input dataframe is dataframe is:
 - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
        Date  Total Traveler Throughput  Total Traveler Throughput.1
0        NaT                        NaN  (1 Year Ago - Same Weekday)
1 2020-05-26                   264843.0                      2453649
2 2020-05-25                   340769.0                      2512237
3 2020-05-24                   267451.0                      2070716
4 2020-05-23                   253190.0                      2124825
-------------------------------------------------------------------------------------------------
The tail of your input dataframe is:
 - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
         Date  Total Traveler Throughput Total Traveler Throughput.1
83 2020-03-05                  2130015.0                     2402692
84 2020-03-04                  1877401.0                     2143619
85 2020-03-03                  1736393.0                     1979558
86 2020-03-02                  2089641.0                     2257920
87 2020-03-01                  2280522.0                     2301439
-------------------------------------------------------------------------------------------------
The shape of the dataframe is 88 rows and 3 columns.
-------------------------------------------------------------------------------------------------
The below shows whether there exist nulls in our dataframe or not:
 - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
Date                            True
Total Traveler Throughput       True
Total Traveler Throughput.1    False
dtype: bool
-------------------------------------------------------------------------------------------------
The below shows the useful information to be aware of when exploring this input dataframe:
 - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88 entries, 0 to 87
Data columns (total 3 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Date                         87 non-null     datetime64[ns]
 1   Total Traveler Throughput    87 non-null     float64
 2   Total Traveler Throughput.1  88 non-null     object
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 2.2+ KB
None

#### Key takeaways fromm the above output:

- There is a `Date` column not currently set as the index of the dataframe. We will consider making the `Date` column the index. 

- The first row seems to contain header information. We will append the appropriate values into the header. 

- Our dataframe is 88 rows and 3 columns.

- Our dataframe contains nulls. 

- We have an even split of string, float, and datetime values.

### TSA Confirmed Cases Data

In [15]:
quick_check(tsa_confirmed_cases)

-------------------------------------------------------------------------------------------------
The head of your input dataframe is dataframe is:
 - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
                                          Airport  Total Confirmed Cases  \
0               ACY - Atlantic City International                      1
1                        AIA - Alliance Municipal                      1
2                      ALW - Walla Walla Regional                      1
3       AMA - Rick Husband Amarillo International                      1
4  ATL - Hartsfield-Jackson Atlanta International                     17

   TSA Screening Officers  Non-Screening Employees  \
0                     1.0                      NaN
1                     1.0                      NaN
2                     1.0                      NaN
3                     1.0                      NaN
4                    16.0                      1.0

  Last work date of most recent screening officer confirmed case
0                                         2020-05-16
1                                         2020-05-19
2                                         2020-03-24
3                                         2020-05-02
4                                         2020-03-18
-------------------------------------------------------------------------------------------------
The tail of your input dataframe is:
 - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
                                  Airport  Total Confirmed Cases  \
73  STL - St. Louis Lambert International                      1
74                     STT - Cyril E King                      1
75             TLH - Tallahassee Regional                      1
76                   TOL - Toledo Express                      2
77              TPA - Tampa International                      2

    TSA Screening Officers  Non-Screening Employees  \
73                     1.0                      NaN
74                     1.0                      NaN
75                     1.0                      NaN
76                     2.0                      NaN
77                     1.0                      1.0

   Last work date of most recent screening officer confirmed case
73                                         2020-04-27
74                                         2020-03-13
75                                         2020-05-04
76                                         2020-04-06
77                                         2020-04-08
-------------------------------------------------------------------------------------------------
The shape of the dataframe is 78 rows and 5 columns.
-------------------------------------------------------------------------------------------------
The below shows whether there exist nulls in our dataframe or not:
 - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
Airport                                                           False
Total Confirmed Cases                                             False
TSA Screening Officers                                             True
Non-Screening Employees                                            True
Last work date of most recent screening officer confirmed case     True
dtype: bool
-------------------------------------------------------------------------------------------------
The below shows the useful information to be aware of when exploring this input dataframe:
 - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 78 entries, 0 to 77
Data columns (total 5 columns):
 #   Column                                                          Non-Null Count  Dtype
---  ------                                                          --------------  -----
 0   Airport                                                         78 non-null     object
 1   Total Confirmed Cases                                           78 non-null     int64
 2   TSA Screening Officers                                          76 non-null     float64
 3   Non-Screening Employees                                         22 non-null     float64
 4   Last work date of most recent screening officer confirmed case  76 non-null     datetime64[ns]
dtypes: datetime64[ns](1), float64(2), int64(1), object(1)
memory usage: 3.2+ KB
None

#### Key takeaways fromm the above output:

- The data columns are separated above with a `\`.

- Our dataframe is 78 rows and 5 columns.

- Our dataframe contains nulls. 

- We have string, float, and datetime values.

## 2.02 Data Documentation and Exploration

### What is the "Flight Data"?

The "Flight Data" is referring to the the dataframes showcasing the current flights (`current_flights`), flight combinations (`flight_combinations`), and flight schedules(`flight_schedules`). They each preside in the order which they were constructed, where the `current_flights` dataframe was collected first, then the `flight_combinations`, then the `flight_schedules`. All of the flight data collected stemmed from the root dataframe for this study: `current_flights`. Below are the data dictionaries for each dataframe after their cleaning process showcased in [3.00 Data Cleaning](#3.00-Data-Cleaning). The data dictionaries are to help us understand what each dataframe's value represents as the airline language can be non-intuitive to understand. Some of the values are also representative of API utilized to gather the data.

### How was the Flight Data Gathered?

### What Biases Play a Role in the Data? What Compromises were Made?

### What is the Price Data?

### How was the Price Data Gathered?

### What Biases Play a Role in the Data? What Compromises were Made?

### What are the Other Relevant Data?

### How was the Other Relevant Data Gathered?

### What Biases Play a Role in the Data? What Compromises were Made?

# 3.00 Data Cleaning

## 3.01 Flight Data

### Datatype Conversion

### Null Analysis

In [16]:
def null_analysis(dataframe):
    print("-------------------------------------------------------------------------------------------------")
    print("The below shows whether there exist nulls in our dataframe or not:")
    print(" - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -")
    print(dataframe.isnull().any()) #checks the null status of the current_flights dataframe
    print("-------------------------------------------------------------------------------------------------")
    print("The below shows the mean of nulls existing in a dataframe:")
    print(" - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -")
    print(dataframe.isnull().mean().sort_values(ascending = False))
    print("-------------------------------------------------------------------------------------------------")
    print(f"The column with the most nulls is the '{dataframe.isnull().mean().sort_values(ascending = False).index[0]}' column with a null percentage of {dataframe.isnull().mean().sort_values(ascending = False).iloc[0]*100}%.")
    print("-------------------------------------------------------------------------------------------------")
    highest_null_mask = dataframe[str(dataframe.isnull().mean().sort_values(ascending = False).index[0])].isnull() == True
    print("The below shows the most masked null dataframe for more clear understanding:")
    print(" - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -")
    print(dataframe[highest_null_mask])
    print("-------------------------------------------------------------------------------------------------")
    anti_highest_null_mask = dataframe[str(dataframe.isnull().mean().sort_values(ascending = False).index[0])].isnull() == False
    print("The below shows the most masked null dataframe, where nulls are filtered out, for more clear understanding:")
    print(" - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -")
    print(dataframe[anti_highest_null_mask])

### One-Hot Encoding

## 3.02 Price Data

A plethora of price data was collected using the Skyscanner API. However, due to complications, some prices were found to be null for certain dates. With such limitations, lots of other data were collected to help us fill in the gaps for the missing values. We will explore both dataframes for pricing to help us analyze appropriate prices per flight. To start our cleaning process, we will re-state our `quick_check` function and re-state our key takeaways from earlier in the study.

In [17]:
quick_check(monthly_pricing_2021)

-------------------------------------------------------------------------------------------------
The head of your input dataframe is dataframe is:
 - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
   Unnamed: 0 Quotes Places Carriers  \
0           0     []     []       []
1           1     []     []       []
2           2     []     []       []
3           3     []     []       []
4           4     []     []       []

                                          Currencies ValidationErrors
0  [{'Code': 'USD', 'Symbol': '$', 'ThousandsSepa...              NaN
1  [{'Code': 'USD', 'Symbol': '$', 'ThousandsSepa...              NaN
2  [{'Code': 'USD', 'Symbol': '$', 'ThousandsSepa...              NaN
3  [{'Code': 'USD', 'Symbol': '$', 'ThousandsSepa...              NaN
4  [{'Code': 'USD', 'Symbol': '$', 'ThousandsSepa...              NaN
-------------------------------------------------------------------------------------------------
The tail of your input dataframe is:
 - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
     Unnamed: 0                                             Quotes  \
715         715  [{'QuoteId': 1, 'MinPrice': 79.0, 'Direct': Tr...
716         716                                                 []
717         717  [{'QuoteId': 1, 'MinPrice': 120.0, 'Direct': F...
718         718                                                 []
719         719                                                 []

                                                Places  \
715  [{'PlaceId': 47118, 'IataCode': 'DEN', 'Name':...
716                                                 []
717  [{'PlaceId': 47118, 'IataCode': 'DEN', 'Name':...
718                                                 []
719                                                 []

                                              Carriers  \
715  [{'CarrierId': 1065, 'Name': 'Frontier Airline...
716                                                 []
717  [{'CarrierId': 851, 'Name': 'Alaska Airlines'}...
718                                                 []
719                                                 []

                                            Currencies ValidationErrors
715  [{'Code': 'USD', 'Symbol': '$', 'ThousandsSepa...              NaN
716  [{'Code': 'USD', 'Symbol': '$', 'ThousandsSepa...              NaN
717  [{'Code': 'USD', 'Symbol': '$', 'ThousandsSepa...              NaN
718  [{'Code': 'USD', 'Symbol': '$', 'ThousandsSepa...              NaN
719  [{'Code': 'USD', 'Symbol': '$', 'ThousandsSepa...              NaN
-------------------------------------------------------------------------------------------------
The shape of the dataframe is 720 rows and 6 columns.
-------------------------------------------------------------------------------------------------
The below shows whether there exist nulls in our dataframe or not:
 - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
Unnamed: 0          False
Quotes               True
Places               True
Carriers             True
Currencies           True
ValidationErrors     True
dtype: bool
-------------------------------------------------------------------------------------------------
The below shows the useful information to be aware of when exploring this input dataframe:
 - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 720 entries, 0 to 719
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        720 non-null    int64
 1   Quotes            696 non-null    object
 2   Places            696 non-null    object
 3   Carriers          696 non-null    object
 4   Currencies        696 non-null    object
 5   ValidationErrors  24 non-null     object
dtypes: int64(1), object(5)
memory usage: 33.9+ KB
None

#### Key takeaways from the above output:

- The dataframe is large and denotes separations with a `\` symbol.

- The data is stored in json dictionaries. We will need to clean that to access more readable data.

- There is an `Unnamed: 0` column in our dataframe which is not necessary to include. We will remove this in our cleaning.

- Our dataframe is 720 rows and 7 columns.

- Our dataframe contains nulls. 

- We have mostly string values.

In [18]:
quick_check(june2020_to_december2020_monthlyprice)

-------------------------------------------------------------------------------------------------
The head of your input dataframe is dataframe is:
 - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
   Unnamed: 0                                             Quotes  \
0           0                                                 []
1           1  [{'QuoteId': 1, 'MinPrice': 327.0, 'Direct': F...
2           2  [{'QuoteId': 1, 'MinPrice': 353.0, 'Direct': F...
3           3                                                 []
4           4                                                 []

                                              Places  \
0                                                 []
1  [{'PlaceId': 60987, 'IataCode': 'JFK', 'Name':...
2  [{'PlaceId': 60987, 'IataCode': 'JFK', 'Name':...
3                                                 []
4                                                 []

                                   Carriers  \
0                                        []
1  [{'CarrierId': 1907, 'Name': 'WestJet'}]
2  [{'CarrierId': 1907, 'Name': 'WestJet'}]
3                                        []
4                                        []

                                          Currencies ValidationErrors
0  [{'Code': 'USD', 'Symbol': '$', 'ThousandsSepa...              NaN
1  [{'Code': 'USD', 'Symbol': '$', 'ThousandsSepa...              NaN
2  [{'Code': 'USD', 'Symbol': '$', 'ThousandsSepa...              NaN
3  [{'Code': 'USD', 'Symbol': '$', 'ThousandsSepa...              NaN
4  [{'Code': 'USD', 'Symbol': '$', 'ThousandsSepa...              NaN
-------------------------------------------------------------------------------------------------
The tail of your input dataframe is:
 - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
     Unnamed: 0                                             Quotes  \
415         415  [{'QuoteId': 1, 'MinPrice': 69.0, 'Direct': Tr...
416         416  [{'QuoteId': 1, 'MinPrice': 79.0, 'Direct': Tr...
417         417  [{'QuoteId': 1, 'MinPrice': 199.0, 'Direct': T...
418         418  [{'QuoteId': 1, 'MinPrice': 69.0, 'Direct': Tr...
419         419  [{'QuoteId': 1, 'MinPrice': 63.0, 'Direct': Tr...

                                                Places  \
415  [{'PlaceId': 47118, 'IataCode': 'DEN', 'Name':...
416  [{'PlaceId': 47118, 'IataCode': 'DEN', 'Name':...
417  [{'PlaceId': 47118, 'IataCode': 'DEN', 'Name':...
418  [{'PlaceId': 47118, 'IataCode': 'DEN', 'Name':...
419  [{'PlaceId': 47118, 'IataCode': 'DEN', 'Name':...

                                              Carriers  \
415  [{'CarrierId': 851, 'Name': 'Alaska Airlines'}...
416  [{'CarrierId': 1065, 'Name': 'Frontier Airline...
417  [{'CarrierId': 851, 'Name': 'Alaska Airlines'}...
418  [{'CarrierId': 1065, 'Name': 'Frontier Airline...
419  [{'CarrierId': 1065, 'Name': 'Frontier Airline...

                                            Currencies ValidationErrors
415  [{'Code': 'USD', 'Symbol': '$', 'ThousandsSepa...              NaN
416  [{'Code': 'USD', 'Symbol': '$', 'ThousandsSepa...              NaN
417  [{'Code': 'USD', 'Symbol': '$', 'ThousandsSepa...              NaN
418  [{'Code': 'USD', 'Symbol': '$', 'ThousandsSepa...              NaN
419  [{'Code': 'USD', 'Symbol': '$', 'ThousandsSepa...              NaN
-------------------------------------------------------------------------------------------------
The shape of the dataframe is 420 rows and 6 columns.
-------------------------------------------------------------------------------------------------
The below shows whether there exist nulls in our dataframe or not:
 - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
Unnamed: 0          False
Quotes               True
Places               True
Carriers             True
Currencies           True
ValidationErrors     True
dtype: bool
-------------------------------------------------------------------------------------------------
The below shows the useful information to be aware of when exploring this input dataframe:
 - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 420 entries, 0 to 419
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        420 non-null    int64
 1   Quotes            406 non-null    object
 2   Places            406 non-null    object
 3   Carriers          406 non-null    object
 4   Currencies        406 non-null    object
 5   ValidationErrors  14 non-null     object
dtypes: int64(1), object(5)
memory usage: 19.8+ KB
None

#### Key takeaways fromm the above output:

- The dataframe is large and denotes separations with a `\` symbol.

- The data is stored in json dictionaries. We will need to clean that to access more readable data.

- There is an `Unnamed: 0` column in our dataframe which is not necessary to include. We will remove this in our cleaning.

- Our dataframe is 5823 rows and 6 columns.

- Our dataframe contains nulls. 

- We have mostly string values.

### Unpacking the Monthly Pricing Dataframe and Null Analysis

Due to the Skyscanner's method of data scraping, our data is nested inside of dictionaries. We are going to need to clean up the dictionaries and most likely export a lot more hidden data from these dictionaries. We are prepared to create more dataframes out of these dictionaries. To make dictionary unpacking process more efficient, we are also going to have to perform a null analysis on all of the data so help us recognize any `NaNs` in our dataframe. Once such `NaNs` are recognized, we can determine what would be the most appropriate action to substitute a value for such `NaNs` OR completely eliminate them entirely based on their importance.

First we are going to drop the `Unnamed: 0` column through the above defined function to ease our dataframe cleaning process across multiple dataframes.

In [19]:
def drop_unnamed(dataframe):
    dataframe.drop(columns = 'Unnamed: 0', inplace = True)

In [20]:
drop_unnamed(monthly_pricing_2021)
drop_unnamed(june2020_to_december2020_monthlyprice)

We will analyze how many nulls there are from the `monthly_pricing_2021` dataframe to start. This will give us some idea about the dataframe in particular and help us determine what necessary steps are needed to help us analyze our most important columns: the `Quotes` column. This will also help pave the way for handling of the similar dataframe, `june2020_to_december_2020`.

In [21]:
null_analysis(monthly_pricing_2021)

-------------------------------------------------------------------------------------------------
The below shows whether there exist nulls in our dataframe or not:
 - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
Quotes              True
Places              True
Carriers            True
Currencies          True
ValidationErrors    True
dtype: bool
-------------------------------------------------------------------------------------------------
The below shows the mean of nulls existing in a dataframe:
 - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
ValidationErrors    0.966667
Currencies          0.033333
Carriers            0.033333
Places              0.033333
Quotes              0.033333
dtype: float64
-------------------------------------------------------------------------------------------------
The column with the most nulls is the 'ValidationErrors' column with a null percentage of 96.66666666666667%.
-------------------------------------------------------------------------------------------------
The below shows the most masked null dataframe for more clear understanding:
 - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
                                                Quotes  \
0                                                   []
1                                                   []
2                                                   []
3                                                   []
4                                                   []
..                                                 ...
715  [{'QuoteId': 1, 'MinPrice': 79.0, 'Direct': Tr...
716                                                 []
717  [{'QuoteId': 1, 'MinPrice': 120.0, 'Direct': F...
718                                                 []
719                                                 []

                                                Places  \
0                                                   []
1                                                   []
2                                                   []
3                                                   []
4                                                   []
..                                                 ...
715  [{'PlaceId': 47118, 'IataCode': 'DEN', 'Name':...
716                                                 []
717  [{'PlaceId': 47118, 'IataCode': 'DEN', 'Name':...
718                                                 []
719                                                 []

                                              Carriers  \
0                                                   []
1                                                   []
2                                                   []
3                                                   []
4                                                   []
..                                                 ...
715  [{'CarrierId': 1065, 'Name': 'Frontier Airline...
716                                                 []
717  [{'CarrierId': 851, 'Name': 'Alaska Airlines'}...
718                                                 []
719                                                 []

                                            Currencies ValidationErrors
0    [{'Code': 'USD', 'Symbol': '$', 'ThousandsSepa...              NaN
1    [{'Code': 'USD', 'Symbol': '$', 'ThousandsSepa...              NaN
2    [{'Code': 'USD', 'Symbol': '$', 'ThousandsSepa...              NaN
3    [{'Code': 'USD', 'Symbol': '$', 'ThousandsSepa...              NaN
4    [{'Code': 'USD', 'Symbol': '$', 'ThousandsSepa...              NaN
..                                                 ...              ...
715  [{'Code': 'USD', 'Symbol': '$', 'ThousandsSepa...              NaN
716  [{'Code': 'USD', 'Symbol': '$', 'ThousandsSepa...              NaN
717  [{'Code': 'USD', 'Symbol': '$', 'ThousandsSepa...              NaN
718  [{'Code': 'USD', 'Symbol': '$', 'ThousandsSepa...              NaN
719  [{'Code': 'USD', 'Symbol': '$', 'ThousandsSepa...              NaN

[696 rows x 5 columns]
-------------------------------------------------------------------------------------------------
The below shows the most masked null dataframe, where nulls are filtered out, for more clear understanding:
 - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
    Quotes Places Carriers Currencies  \
624    NaN    NaN      NaN        NaN
625    NaN    NaN      NaN        NaN
626    NaN    NaN      NaN        NaN
627    NaN    NaN      NaN        NaN
628    NaN    NaN      NaN        NaN
629    NaN    NaN      NaN        NaN
630    NaN    NaN      NaN        NaN
631    NaN    NaN      NaN        NaN
632    NaN    NaN      NaN        NaN
633    NaN    NaN      NaN        NaN
634    NaN    NaN      NaN        NaN
635    NaN    NaN      NaN        NaN
696    NaN    NaN      NaN        NaN
697    NaN    NaN      NaN        NaN
698    NaN    NaN      NaN        NaN
699    NaN    NaN      NaN        NaN
700    NaN    NaN      NaN        NaN
701    NaN    NaN      NaN        NaN
702    NaN    NaN      NaN        NaN
703    NaN    NaN      NaN        NaN
704    NaN    NaN      NaN        NaN
705    NaN    NaN      NaN        NaN
706    NaN    NaN      NaN        NaN
707    NaN    NaN      NaN        NaN

                                      ValidationErrors
624  [{'ParameterName': 'OriginPlace', 'ParameterVa...
625  [{'ParameterName': 'OriginPlace', 'ParameterVa...
626  [{'ParameterName': 'OriginPlace', 'ParameterVa...
627  [{'ParameterName': 'OriginPlace', 'ParameterVa...
628  [{'ParameterName': 'OriginPlace', 'ParameterVa...
629  [{'ParameterName': 'OriginPlace', 'ParameterVa...
630  [{'ParameterName': 'OriginPlace', 'ParameterVa...
631  [{'ParameterName': 'OriginPlace', 'ParameterVa...
632  [{'ParameterName': 'OriginPlace', 'ParameterVa...
633  [{'ParameterName': 'OriginPlace', 'ParameterVa...
634  [{'ParameterName': 'OriginPlace', 'ParameterVa...
635  [{'ParameterName': 'OriginPlace', 'ParameterVa...
696  [{'ParameterName': 'OriginPlace', 'ParameterVa...
697  [{'ParameterName': 'OriginPlace', 'ParameterVa...
698  [{'ParameterName': 'OriginPlace', 'ParameterVa...
699  [{'ParameterName': 'OriginPlace', 'ParameterVa...
700  [{'ParameterName': 'OriginPlace', 'ParameterVa...
701  [{'ParameterName': 'OriginPlace', 'ParameterVa...
702  [{'ParameterName': 'OriginPlace', 'ParameterVa...
703  [{'ParameterName': 'OriginPlace', 'ParameterVa...
704  [{'ParameterName': 'OriginPlace', 'ParameterVa...
705  [{'ParameterName': 'OriginPlace', 'ParameterVa...
706  [{'ParameterName': 'OriginPlace', 'ParameterVa...
707  [{'ParameterName': 'OriginPlace', 'ParameterVa...

From the above, our `ValidationErrors` column contains the most nulls in our dataframe. With respect to the context of our study, keeping these `ValidationErrors` column is unnecessary as it is only an indicator for a successful query search. We will drop it from the dataframe. Before doing so, it would best to also interpret the pecentage of `ValidationErrors` nulls and comapre against the percentage nulls of the rest of the columns in our dataframe. The rest of our dataframe is presenting approximately 3.3% nulls. Through the final print statement from the above output of the dataframe, we notice that the dataframe showing values for true `ValidationErrors` is expressing nulls across the entire rows of such data. We can confidently state that the data rest of the dataframe showing nulls are missing not at random ([MNAR](https://www.theanalysisfactor.com/missing-data-mechanism/)) in this instance. We cannot identify what is triggering the validation errors in the first place through a large data scrape, but we do know the validation errors to be present for every row of `NaNs`; we know the two are related and can confidently state that for every true instance of a validation error, we can expect a row to be empty. 

In summary, we know that there is no need to keep the `ValidationErrors` in our study. With entire rows missing form the dataframe, we will not be able to make any meaningful identification for the missing data or find a way to impute such values. Therefore, we will drop such rows. The cost of damage for this study is minimal with only a loss of approximately 3.3% of our values. Any further errors recognized will consider this dataframe drop as a culprit, during the mass dataframe concatenation conducted in a later section (partciularly combatting an instance where a flight combination may not be read for the study).

To efficiently do this, we will drop nulls across the most improtant target feature column which will shave approximately 3.3 percent of our dataframe. We will then drop the `ValidationErrors` column.

In [22]:
monthly_pricing_2021.dropna(subset = ['Quotes'], inplace = True)

In [23]:
monthly_pricing_2021.drop(columns = 'ValidationErrors', inplace = True)

In [24]:
null_analysis(monthly_pricing_2021)

-------------------------------------------------------------------------------------------------
The below shows whether there exist nulls in our dataframe or not:
 - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
Quotes        False
Places        False
Carriers      False
Currencies    False
dtype: bool
-------------------------------------------------------------------------------------------------
The below shows the mean of nulls existing in a dataframe:
 - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
Currencies    0.0
Carriers      0.0
Places        0.0
Quotes        0.0
dtype: float64
-------------------------------------------------------------------------------------------------
The column with the most nulls is the 'Currencies' column with a null percentage of 0.0%.
-------------------------------------------------------------------------------------------------
The below shows the most masked null dataframe for more clear understanding:
 - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
Empty DataFrame
Columns: [Quotes, Places, Carriers, Currencies]
Index: []
-------------------------------------------------------------------------------------------------
The below shows the most masked null dataframe, where nulls are filtered out, for more clear understanding:
 - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
                                                Quotes  \
0                                                   []
1                                                   []
2                                                   []
3                                                   []
4                                                   []
..                                                 ...
715  [{'QuoteId': 1, 'MinPrice': 79.0, 'Direct': Tr...
716                                                 []
717  [{'QuoteId': 1, 'MinPrice': 120.0, 'Direct': F...
718                                                 []
719                                                 []

                                                Places  \
0                                                   []
1                                                   []
2                                                   []
3                                                   []
4                                                   []
..                                                 ...
715  [{'PlaceId': 47118, 'IataCode': 'DEN', 'Name':...
716                                                 []
717  [{'PlaceId': 47118, 'IataCode': 'DEN', 'Name':...
718                                                 []
719                                                 []

                                              Carriers  \
0                                                   []
1                                                   []
2                                                   []
3                                                   []
4                                                   []
..                                                 ...
715  [{'CarrierId': 1065, 'Name': 'Frontier Airline...
716                                                 []
717  [{'CarrierId': 851, 'Name': 'Alaska Airlines'}...
718                                                 []
719                                                 []

                                            Currencies
0    [{'Code': 'USD', 'Symbol': '$', 'ThousandsSepa...
1    [{'Code': 'USD', 'Symbol': '$', 'ThousandsSepa...
2    [{'Code': 'USD', 'Symbol': '$', 'ThousandsSepa...
3    [{'Code': 'USD', 'Symbol': '$', 'ThousandsSepa...
4    [{'Code': 'USD', 'Symbol': '$', 'ThousandsSepa...
..                                                 ...
715  [{'Code': 'USD', 'Symbol': '$', 'ThousandsSepa...
716  [{'Code': 'USD', 'Symbol': '$', 'ThousandsSepa...
717  [{'Code': 'USD', 'Symbol': '$', 'ThousandsSepa...
718  [{'Code': 'USD', 'Symbol': '$', 'ThousandsSepa...
719  [{'Code': 'USD', 'Symbol': '$', 'ThousandsSepa...

[696 rows x 4 columns]

Conducting a second null_analysis on the dataframe shows that nulls no longer exist in a manner that is recognized by python. However, this does not mean we aren't missing any data. Through some of the above output, we can intuitively recognize that we are indeed missing some quotes through successful query searches. Let's analyze why python is misinterpreting such nulls. To do this, we will analyze an "empty" element in `monthly_pricing_2021[Quotes]` to see what python is recognizing, as well as a "filled" element.

In [26]:
print(f"An empty element is: {type(monthly_pricing_2021.loc[0, 'Quotes'])}")
print('- - - - - - - - - - - - - - - - - - - -')
print(f"An empty element is: {type(monthly_pricing_2021.loc[715, 'Quotes'])}")

An empty element is: <class 'str'>
- - - - - - - - - - - - - - - - - - - -
An empty element is: <class 'str'>

From the above outputs, we can see that each element is being recognized as a string. This means the perceived "empty" elements are expressing a True Boolean state output. We will first replace such strings "empty" strings to proper `NaNs` and perform another null analysis plus drop such nulls. Then we will convert leftover "filled" strings to their perceived appropriate outputs with a function.

In [35]:
monthly_pricing_2021['Quotes'] = monthly_pricing_2021['Quotes'].replace("NaN", np.nan)

In [36]:
monthly_pricing_2021

,Quotes,Places,Carriers,Currencies
0,NaN,[],[],"[{'Code': 'USD', 'Symbol': '$', 'ThousandsSepa..."
1,NaN,[],[],"[{'Code': 'USD', 'Symbol': '$', 'ThousandsSepa..."
2,NaN,[],[],"[{'Code': 'USD', 'Symbol': '$', 'ThousandsSepa..."
3,NaN,[],[],"[{'Code': 'USD', 'Symbol': '$', 'ThousandsSepa..."
4,NaN,[],[],"[{'Code': 'USD', 'Symbol': '$', 'ThousandsSepa..."
...,...,...,...,...
715,"[{'QuoteId': 1, 'MinPrice': 79.0, 'Direct': Tr...","[{'PlaceId': 47118, 'IataCode': 'DEN', 'Name':...","[{'CarrierId': 1065, 'Name': 'Frontier Airline...","[{'Code': 'USD', 'Symbol': '$', 'ThousandsSepa..."
716,NaN,[],[],"[{'Code': 'USD', 'Symbol': '$', 'ThousandsSepa..."
717,"[{'QuoteId': 1, 'MinPrice': 120.0, 'Direct': F...","[{'PlaceId': 47118, 'IataCode': 'DEN', 'Name':...","[{'CarrierId': 851, 'Name': 'Alaska Airlines'}...","[{'Code': 'USD', 'Symbol': '$', 'ThousandsSepa..."
718,NaN,[],[],"[{'Code': 'USD', 'Symbol': '$', 'ThousandsSepa..."
719,NaN,[],[],"[{'Code': 'USD', 'Symbol': '$', 'ThousandsSepa..."

In [37]:
null_analysis(monthly_pricing_2021)

-------------------------------------------------------------------------------------------------
The below shows whether there exist nulls in our dataframe or not:
 - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
Quotes         True
Places        False
Carriers      False
Currencies    False
dtype: bool
-------------------------------------------------------------------------------------------------
The below shows the mean of nulls existing in a dataframe:
 - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
Quotes        0.841954
Currencies    0.000000
Carriers      0.000000
Places        0.000000
dtype: float64
-------------------------------------------------------------------------------------------------
The column with the most nulls is the 'Quotes' column with a null percentage of 84.19540229885058%.
-------------------------------------------------------------------------------------------------
The below shows the most masked null dataframe for more clear understanding:
 - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
    Quotes Places Carriers                                         Currencies
0      NaN     []       []  [{'Code': 'USD', 'Symbol': '$', 'ThousandsSepa...
1      NaN     []       []  [{'Code': 'USD', 'Symbol': '$', 'ThousandsSepa...
2      NaN     []       []  [{'Code': 'USD', 'Symbol': '$', 'ThousandsSepa...
3      NaN     []       []  [{'Code': 'USD', 'Symbol': '$', 'ThousandsSepa...
4      NaN     []       []  [{'Code': 'USD', 'Symbol': '$', 'ThousandsSepa...
..     ...    ...      ...                                                ...
713    NaN     []       []  [{'Code': 'USD', 'Symbol': '$', 'ThousandsSepa...
714    NaN     []       []  [{'Code': 'USD', 'Symbol': '$', 'ThousandsSepa...
716    NaN     []       []  [{'Code': 'USD', 'Symbol': '$', 'ThousandsSepa...
718    NaN     []       []  [{'Code': 'USD', 'Symbol': '$', 'ThousandsSepa...
719    NaN     []       []  [{'Code': 'USD', 'Symbol': '$', 'ThousandsSepa...

[586 rows x 4 columns]
-------------------------------------------------------------------------------------------------
The below shows the most masked null dataframe, where nulls are filtered out, for more clear understanding:
 - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
                                                Quotes  \
18   [{'QuoteId': 1, 'MinPrice': 176.0, 'Direct': T...
24   [{'QuoteId': 1, 'MinPrice': 123.0, 'Direct': T...
29   [{'QuoteId': 1, 'MinPrice': 99.0, 'Direct': Tr...
30   [{'QuoteId': 1, 'MinPrice': 107.0, 'Direct': T...
31   [{'QuoteId': 1, 'MinPrice': 102.0, 'Direct': T...
..                                                 ...
681  [{'QuoteId': 1, 'MinPrice': 351.0, 'Direct': F...
693  [{'QuoteId': 1, 'MinPrice': 120.0, 'Direct': F...
708  [{'QuoteId': 1, 'MinPrice': 199.0, 'Direct': T...
715  [{'QuoteId': 1, 'MinPrice': 79.0, 'Direct': Tr...
717  [{'QuoteId': 1, 'MinPrice': 120.0, 'Direct': F...

                                                Places  \
18   [{'PlaceId': 73076, 'IataCode': 'ORD', 'Name':...
24   [{'PlaceId': 65368, 'IataCode': 'LAX', 'Name':...
29   [{'PlaceId': 65368, 'IataCode': 'LAX', 'Name':...
30   [{'PlaceId': 65368, 'IataCode': 'LAX', 'Name':...
31   [{'PlaceId': 65368, 'IataCode': 'LAX', 'Name':...
..                                                 ...
681  [{'PlaceId': 43369, 'IataCode': 'BWI', 'Name':...
693  [{'PlaceId': 45623, 'IataCode': 'CVG', 'Name':...
708  [{'PlaceId': 47118, 'IataCode': 'DEN', 'Name':...
715  [{'PlaceId': 47118, 'IataCode': 'DEN', 'Name':...
717  [{'PlaceId': 47118, 'IataCode': 'DEN', 'Name':...

                                              Carriers  \
18          [{'CarrierId': 835, 'Name': 'Air Canada'}]
24   [{'CarrierId': 835, 'Name': 'Air Canada'}, {'C...
29   [{'CarrierId': 835, 'Name': 'Air Canada'}, {'C...
30          [{'CarrierId': 835, 'Name': 'Air Canada'}]
31   [{'CarrierId': 835, 'Name': 'Air Canada'}, {'C...
..                                                 ...
681  [{'CarrierId': 1065, 'Name': 'Frontier Airline...
693  [{'CarrierId': 1065, 'Name': 'Frontier Airline...
708  [{'CarrierId': 1065, 'Name': 'Frontier Airline...
715  [{'CarrierId': 1065, 'Name': 'Frontier Airline...
717  [{'CarrierId': 851, 'Name': 'Alaska Airlines'}...

                                            Currencies
18   [{'Code': 'USD', 'Symbol': '$', 'ThousandsSepa...
24   [{'Code': 'USD', 'Symbol': '$', 'ThousandsSepa...
29   [{'Code': 'USD', 'Symbol': '$', 'ThousandsSepa...
30   [{'Code': 'USD', 'Symbol': '$', 'ThousandsSepa...
31   [{'Code': 'USD', 'Symbol': '$', 'ThousandsSepa...
..                                                 ...
681  [{'Code': 'USD', 'Symbol': '$', 'ThousandsSepa...
693  [{'Code': 'USD', 'Symbol': '$', 'ThousandsSepa...
708  [{'Code': 'USD', 'Symbol': '$', 'ThousandsSepa...
715  [{'Code': 'USD', 'Symbol': '$', 'ThousandsSepa...
717  [{'Code': 'USD', 'Symbol': '$', 'ThousandsSepa...

[110 rows x 4 columns]

In [39]:
monthly_pricing_2021.dropna(subset = ['Quotes'], inplace = True)

In [40]:
def as_lit_for_json(dataframe):
    for column in dataframe.columns:
        dataframe[column] = dataframe[column].apply(lambda element: ast.literal_eval(element))

    return dataframe

In [41]:
as_lit_for_json(monthly_pricing_2021)

,Quotes,Places,Carriers,Currencies
18,"[{'QuoteId': 1, 'MinPrice': 176.0, 'Direct': T...","[{'PlaceId': 73076, 'IataCode': 'ORD', 'Name':...","[{'CarrierId': 835, 'Name': 'Air Canada'}]","[{'Code': 'USD', 'Symbol': '$', 'ThousandsSepa..."
24,"[{'QuoteId': 1, 'MinPrice': 123.0, 'Direct': T...","[{'PlaceId': 65368, 'IataCode': 'LAX', 'Name':...","[{'CarrierId': 835, 'Name': 'Air Canada'}, {'C...","[{'Code': 'USD', 'Symbol': '$', 'ThousandsSepa..."
29,"[{'QuoteId': 1, 'MinPrice': 99.0, 'Direct': Tr...","[{'PlaceId': 65368, 'IataCode': 'LAX', 'Name':...","[{'CarrierId': 835, 'Name': 'Air Canada'}, {'C...","[{'Code': 'USD', 'Symbol': '$', 'ThousandsSepa..."
30,"[{'QuoteId': 1, 'MinPrice': 107.0, 'Direct': T...","[{'PlaceId': 65368, 'IataCode': 'LAX', 'Name':...","[{'CarrierId': 835, 'Name': 'Air Canada'}]","[{'Code': 'USD', 'Symbol': '$', 'ThousandsSepa..."
31,"[{'QuoteId': 1, 'MinPrice': 102.0, 'Direct': T...","[{'PlaceId': 65368, 'IataCode': 'LAX', 'Name':...","[{'CarrierId': 835, 'Name': 'Air Canada'}, {'C...","[{'Code': 'USD', 'Symbol': '$', 'ThousandsSepa..."
...,...,...,...,...
681,"[{'QuoteId': 1, 'MinPrice': 351.0, 'Direct': F...","[{'PlaceId': 43369, 'IataCode': 'BWI', 'Name':...","[{'CarrierId': 1065, 'Name': 'Frontier Airline...","[{'Code': 'USD', 'Symbol': '$', 'ThousandsSepa..."
693,"[{'QuoteId': 1, 'MinPrice': 120.0, 'Direct': F...","[{'PlaceId': 45623, 'IataCode': 'CVG', 'Name':...","[{'CarrierId': 1065, 'Name': 'Frontier Airline...","[{'Code': 'USD', 'Symbol': '$', 'ThousandsSepa..."
708,"[{'QuoteId': 1, 'MinPrice': 199.0, 'Direct': T...","[{'PlaceId': 47118, 'IataCode': 'DEN', 'Name':...","[{'CarrierId': 1065, 'Name': 'Frontier Airline...","[{'Code': 'USD', 'Symbol': '$', 'ThousandsSepa..."
715,"[{'QuoteId': 1, 'MinPrice': 79.0, 'Direct': Tr...","[{'PlaceId': 47118, 'IataCode': 'DEN', 'Name':...","[{'CarrierId': 1065, 'Name': 'Frontier Airline...","[{'Code': 'USD', 'Symbol': '$', 'ThousandsSepa..."
717,"[{'QuoteId': 1, 'MinPrice': 120.0, 'Direct': F...","[{'PlaceId': 47118, 'IataCode': 'DEN', 'Name':...","[{'CarrierId': 851, 'Name': 'Alaska Airlines'}...","[{'Code': 'USD', 'Symbol': '$', 'ThousandsSepa..."

Let's inspect a chosen row from the dataframe...

In [42]:
for i in range(len(monthly_pricing_2021.loc[715])):
    for k in range(len(monthly_pricing_2021.loc[715][i])):
        print('-----------------------------------------')
        print(monthly_pricing_2021.loc[715][i][k])

-----------------------------------------
{'QuoteId': 1, 'MinPrice': 79.0, 'Direct': True, 'OutboundLeg': {'CarrierIds': [1065], 'OriginId': 47118, 'DestinationId': 74728, 'DepartureDate': '2021-02-01T00:00:00'}, 'QuoteDateTime': '2020-06-01T13:48:00'}
-----------------------------------------
{'PlaceId': 47118, 'IataCode': 'DEN', 'Name': 'Denver International', 'Type': 'Station', 'SkyscannerCode': 'DEN', 'CityName': 'Denver', 'CityId': 'DENA', 'CountryName': 'United States'}
-----------------------------------------
{'PlaceId': 74728, 'IataCode': 'PDX', 'Name': 'Portland', 'Type': 'Station', 'SkyscannerCode': 'PDX', 'CityName': 'Portland', 'CityId': 'PDXA', 'CountryName': 'United States'}
-----------------------------------------
{'CarrierId': 1065, 'Name': 'Frontier Airlines'}
-----------------------------------------
{'Code': 'USD', 'Symbol': '$', 'ThousandsSeparator': ',', 'DecimalSeparator': '.', 'SymbolOnLeft': True, 'SpaceBetweenAmountAndSymbol': False, 'RoundingCoefficient': 0, 'DecimalDigits': 2}

Each printed element above exists within indexed row, 715 of the above dataframe. Each element is a json dictionary contained within a list. From the first element (under the `Quotes` column), the only needed values are the `MinPrice` value in the top layered dictionary and the `DepartureDate` located in the nested `OutboundLeg` dicitonary. 

For the second and third printed element (under the `Places` column), we can integrate all of the information. Keep in mind, the target dataframe will need to be integrated with the features dataframe. To do this, we will primarily utilize the `IataCode` to identify airports. 

The fourth printed element seems useful in that it can also provide additional airline information. This can be used to check against the flight combination airline that was originally searched. 

The final printed element above shows what sort of currency was returned. We are completely operating in U.S. dollars and would not require to keep such column. We will drop this column next before moving onto unpacking the dataframe.

In [44]:
monthly_pricing_2021.drop(columns = 'Currencies', inplace = True)
monthly_pricing_2021.reset_index(inplace = True)
monthly_pricing_2021.drop(columns = 'index', inplace = True)

In [65]:
monthly_pricing_2021.loc[0, 'Quotes']
monthly_pricing_2021.loc[0, 'Quotes'][0]
monthly_pricing_2021.loc[0, 'Quotes'][0]['QuoteId']
monthly_pricing_2021.loc[0, 'Quotes'][0]['MinPrice']
monthly_pricing_2021.loc[0, 'Quotes'][0]['OutboundLeg']['DepartureDate']

'2021-05-04T00:00:00'

In [67]:
monthly_pricing_2021.loc[0, 'Places']

[{'PlaceId': 73076,
  'IataCode': 'ORD',
  'Name': "Chicago O'Hare International",
  'Type': 'Station',
  'SkyscannerCode': 'ORD',
  'CityName': 'Chicago',
  'CityId': 'CHIA',
  'CountryName': 'United States'},
 {'PlaceId': 96268,
  'IataCode': 'YUL',
  'Name': 'Montreal Pierre Elliott Trudeau',
  'Type': 'Station',
  'SkyscannerCode': 'YUL',
  'CityName': 'Montreal',
  'CityId': 'YMQA',
  'CountryName': 'Canada'}]

#### Test on Monthly

### Null Analysis

### Datatype Conversion

### One-Hot Encoding

## 3.03 Other Relevant Data

## 3.04 Creating the Model Dataframe

## Conclusions and Future Work

For the future, consider incorporating weather data, randomized passenger weight data, incorporate the dynamic changes in fuel/mass ratio throughout a flight, incorporate some demographical passenger data, more routes, the ability for the problem to become a UI tool rather than just a study.